doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    link(href='./main.css' rel='stylesheet')
    title Document
  body
    .v1260_0
      .v1307_6
        .v1252_6
          .v1250_6
            .v1_9838
              span.v1_9839 Назад
              span.v1_9840 145 523 объявлений
              .v1_9841
                span.v1_9842 По актуальности
                .v1_9843
              .v1_9844
                .v1_9845
                  .v1_9846
                    .v1_9847
                    span.v1_9848 1-комнатная, 36м²
                    .v1_9849
                      .v1_9850
                        span.v1_9851
                          | Cдам ЛИЧHO уютную квартиру на 13 этаже с современным
                          | ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес:
                          | улица Добролюбова 162/1 5 минут от метро Золотая
                          | Нива
                      .v1_9852
                        .v1_9853
                          span.v1_9854 14 900 000 ₽
                      .v1_9855
                        span.v1_9856 Улица Серафимовича, 18
                        span.v1_9857 13 этаж из 17
                        .v1_9858
                          .v1_9859
                            .v1_9860
                            span.v1_9861 Сибирская
                          .v1_9862
                            span.v1_9863 5 мин.
                            .v1_9864
                          .v1_9865
                            span.v1_9866 +2
                      span.v1_9867 108 285 ₽ за м²
                      .v1_9868
                        .v1_9869
                        span.v1_9870 +7 (913) 834-22-45
                      .v1_9871
                        .v1_9872
                        span.v1_9873 В избранное
                      .v1_9874
                        .v1_9875
                      .v1_9876
                        .v1_9877
                          .v1_9878
                          .v1_9879
                      .v1_9880
                        .v1_9881
                          .v1_9882
                          .v1_9883
                      .v1_9884
                        span.v1_9885 Ксения
                        .v1_9886
                          .v1_9887
                          span.v1_9888 К
                      span.v1_9889 5 часов назад
                    .v1_9890
                      .v1_9891
                      .v1_9892
                        .v1_9893
                        .v1_9894
                      .v1_9895
                        .v1_9896
                        .v1_9897
                      .v1_9898
                        .v1_9899
                        .v1_9900
                        span.v1_9901 -20%
                  .v1_9902
                    .v1_9903
                    span.v1_9904 1 из 5
                .v1_9905
                  .v1_9906
                    .v1_9907
                    span.v1_9908 1-комнатная, 36м²
                    .v1_9909
                      .v1_9910
                        span.v1_9911
                          | Cдам ЛИЧHO уютную квартиру на 13 этаже с современным
                          | ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес:
                          | улица Добролюбова 162/1 5 минут от метро Золотая
                          | Нива
                      .v1_9912
                        .v1_9913
                          span.v1_9914 14 900 000 ₽
                      .v1_9915
                        span.v1_9916 Улица Серафимовича, 18
                        span.v1_9917 13 этаж из 17
                        .v1_9918
                          .v1_9919
                            .v1_9920
                            span.v1_9921 Сибирская
                          .v1_9922
                            span.v1_9923 5 мин.
                            .v1_9924
                          .v1_9925
                            span.v1_9926 +2
                      span.v1_9927 108 285 ₽ за м²
                      .v1_9928
                        .v1_9929
                        span.v1_9930 +7 (913) 834-22-45
                      .v1_9931
                        .v1_9932
                        span.v1_9933 В избранное
                      .v1_9934
                        .v1_9935
                      .v1_9936
                        .v1_9937
                          .v1_9938
                          .v1_9939
                      .v1_9940
                        .v1_9941
                          .v1_9942
                          .v1_9943
                      .v1_9944
                        span.v1_9945 Ксения
                        .v1_9946
                          .v1_9947
                          span.v1_9948 К
                      span.v1_9949 5 часов назад
                    .v1_9950
                      .v1_9951
                      .v1_9952
                        .v1_9953
                        .v1_9954
                      .v1_9955
                        .v1_9956
                        .v1_9957
                      .v1_9958
                        .v1_9959
                        .v1_9960
                        span.v1_9961 -20%
                  .v1_9962
                    .v1_9963
                    span.v1_9964 1 из 5
                .v1_9965
                  .v1_9966
                    .v1_9967
                    span.v1_9968 1-комнатная, 36м²
                    .v1_9969
                      .v1_9970
                        span.v1_9971
                          | Cдам ЛИЧHO уютную квартиру на 13 этаже с современным
                          | ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес:
                          | улица Добролюбова 162/1 5 минут от метро Золотая
                          | Нива
                      .v1_9972
                        .v1_9973
                          span.v1_9974 14 900 000 ₽
                      .v1_9975
                        span.v1_9976 Улица Серафимовича, 18
                        span.v1_9977 13 этаж из 17
                        .v1_9978
                          .v1_9979
                            .v1_9980
                            span.v1_9981 Сибирская
                          .v1_9982
                            span.v1_9983 5 мин.
                            .v1_9984
                          .v1_9985
                            span.v1_9986 +2
                      span.v1_9987 108 285 ₽ за м²
                      .v1_9988
                        .v1_9989
                        span.v1_9990 +7 (913) 834-22-45
                      .v1_9991
                        .v1_9992
                        span.v1_9993 В избранное
                      .v1_9994
                        .v1_9995
                      .v1_9996
                        .v1_9997
                          .v1_9998
                          .v1_9999
                      .v1_10000
                        .v1_10001
                          .v1_10002
                          .v1_10003
                      .v1_10004
                        span.v1_10005 Ксения
                        .v1_10006
                          .v1_10007
                          span.v1_10008 К
                      span.v1_10009 5 часов назад
                    .v1_10010
                      .v1_10011
                      .v1_10012
                        .v1_10013
                        .v1_10014
                      .v1_10015
                        .v1_10016
                        .v1_10017
                      .v1_10018
                        .v1_10019
                        .v1_10020
                        span.v1_10021 -20%
                  .v1_10022
                    .v1_10023
                    span.v1_10024 1 из 5
                .v1_10025
                  .v1_10026
                    .v1_10027
                    span.v1_10028 1-комнатная, 36м²
                    .v1_10029
                      .v1_10030
                        span.v1_10031
                          | Cдам ЛИЧHO уютную квартиру на 13 этаже с современным
                          | ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес:
                          | улица Добролюбова 162/1 5 минут от метро Золотая
                          | Нива
                      .v1_10032
                        .v1_10033
                          span.v1_10034 14 900 000 ₽
                      .v1_10035
                        span.v1_10036 Улица Серафимовича, 18
                        span.v1_10037 13 этаж из 17
                        .v1_10038
                          .v1_10039
                            .v1_10040
                            span.v1_10041 Сибирская
                          .v1_10042
                            span.v1_10043 5 мин.
                            .v1_10044
                          .v1_10045
                            span.v1_10046 +2
                      span.v1_10047 108 285 ₽ за м²
                      .v1_10048
                        .v1_10049
                        span.v1_10050 +7 (913) 834-22-45
                      .v1_10051
                        .v1_10052
                        span.v1_10053 В избранное
                      .v1_10054
                        .v1_10055
                      .v1_10056
                        .v1_10057
                          .v1_10058
                          .v1_10059
                      .v1_10060
                        .v1_10061
                          .v1_10062
                          .v1_10063
                      .v1_10064
                        span.v1_10065 Ксения
                        .v1_10066
                          .v1_10067
                          span.v1_10068 К
                      span.v1_10069 5 часов назад
                    .v1_10070
                      .v1_10071
                      .v1_10072
                        .v1_10073
                        .v1_10074
                      .v1_10075
                        .v1_10076
                        .v1_10077
                      .v1_10078
                        .v1_10079
                        .v1_10080
                        span.v1_10081 -20%
                  .v1_10082
                    .v1_10083
                    span.v1_10084 1 из 5
                .v1_10085
                  .v1_10086
                    .v1_10087
                    span.v1_10088 1-комнатная, 36м²
                    .v1_10089
                      .v1_10090
                        span.v1_10091
                          | Cдам ЛИЧHO уютную квартиру на 13 этаже с современным
                          | ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес:
                          | улица Добролюбова 162/1 5 минут от метро Золотая
                          | Нива
                      .v1_10092
                        .v1_10093
                          span.v1_10094 14 900 000 ₽
                      .v1_10095
                        span.v1_10096 Улица Серафимовича, 18
                        span.v1_10097 13 этаж из 17
                        .v1_10098
                          .v1_10099
                            .v1_10100
                            span.v1_10101 Сибирская
                          .v1_10102
                            span.v1_10103 5 мин.
                            .v1_10104
                          .v1_10105
                            span.v1_10106 +2
                      span.v1_10107 108 285 ₽ за м²
                      .v1_10108
                        .v1_10109
                        span.v1_10110 +7 (913) 834-22-45
                      .v1_10111
                        .v1_10112
                        span.v1_10113 В избранное
                      .v1_10114
                        .v1_10115
                      .v1_10116
                        .v1_10117
                          .v1_10118
                          .v1_10119
                      .v1_10120
                        .v1_10121
                          .v1_10122
                          .v1_10123
                      .v1_10124
                        span.v1_10125 Ксения
                        .v1_10126
                          .v1_10127
                          span.v1_10128 К
                      span.v1_10129 5 часов назад
                    .v1_10130
                      .v1_10131
                      .v1_10132
                        .v1_10133
                        .v1_10134
                      .v1_10135
                        .v1_10136
                        .v1_10137
                      .v1_10138
                        .v1_10139
                        .v1_10140
                        span.v1_10141 -20%
                  .v1_10142
                    .v1_10143
                    span.v1_10144 1 из 5
              .v1_10145
                .v1_10146
                  .v1_10147
                  .v1_10148
                  span.v1_10149 ЖК Переулок Бульварный
                  span.v1_10150
                    | Элитный комплекс с подземной парковкой. 5 минут до метро
                    | «Октябрьская». Есть консьерж и бизнес-центр. Звоните.
                  .v1_10151
                    .v1_10152
                    span.v1_10153 +7 (913) 834-22-45
                  .v1_10154
                    span.v1_10155 Реклама
                .v1_10156
                  .v1_10157
                  .v1_10158
                  span.v1_10159 ЖК Екатериновский
                  span.v1_10160
                    | 10 минут пешком до вокзала. Рядом есть кафе и ТРЦ «Аура».
                    | Присутствует консьерж. Квартиры от 2 млн. ₽.
                  .v1_10161
                    .v1_10162
                    span.v1_10163 +7 (913) 834-22-45
                  .v1_10164
                    span.v1_10165 Реклама
              .v1_10166
                .v1_10167
                span.v1_10168 Новосибирск, ул. Коммунастроевская 4
                .v1_10169
                  .v1_10170
                  .v1_10171
                .v1_10172
                  .v1_10173
                  span.v1_10174 ЖК Горский
                  span.v1_10175 Квартиры от 2млн. ₽
                  span.v1_10176 м² от 130 тыс. ₽
                  .v1_10177
                    .v1_10178
                    span.v1_10179 +7 (913) 834-22-45
                  .v1_10180
                    .v1_10181
                      span.v1_10182 Подземная парковка
                      .v1_10183
                        .v1_10184
                        .v1_10185
                    .v1_10186
                      span.v1_10187 5 минут до метро
                      .v1_10188
                        .v1_10189
                        .v1_10190
                    .v1_10191
                      span.v1_10192 Бизнес-центр
                      .v1_10193
                        .v1_10194
                        .v1_10195
                span.v1_10196 ЖК Горский. От 7,5 млн. ₽ 
                span.v1_10197 ГК «Самолёт»
                span.v1_10198
                  | Старт продаж нового корпуса от 10 млн ₽. Ипотека 5,85%.
                  | Рассрочка 0%. Панорамные виды на Останкинскую башню и
                  | Москву.
                .v1_10199
                  span.v1_10200 Квартиры от 2млн. ₽
                .v1_10201
                  span.v1_10202 м² от 130 т.р.
                .v1_10203
                  .v1_10204
                  span.v1_10205 Заказать звонок
                .v1_10206
                  span.v1_10207 Реклама
                .v1_10208
                  span.v1_10209 Скрыть
                .v1_10210
                  .v1_10211
                    .v1_10212
                    .v1_10213
                  .v1_10214
                    .v1_10215
                .v1_10216
                  span.v1_10217 1
                  span.v1_10218 /13
              .v1_10219
                .v1_10220
                .v1_10221
                .v1_10222
                .v1_10223
                  span.v1_10224 Новости
                  .v1_10225
                    span.v1_10226 Новости Pro.Недвижимость
                    span.v1_10227 Пресс-релизы
                    span.v1_10228 Блоги
                    span.v1_10229 Мнение эксперта
                    span.v1_10230 Интервью
                    span.v1_10231 Исследование и аналитика
                    span.v1_10232 Видео
                .v1_10233
                  span.v1_10234 Недвижимость
                  .v1_10235
                    span.v1_10236 Апартаменты
                    span.v1_10237 Таунхаусы
                    span.v1_10238 Коттеджные посёлки
                    span.v1_10239 Земельные участки
                    span.v1_10240 Спецпредложения
                    span.v1_10241 Все компании
                .v1_10242
                  span.v1_10243 Народный отзыв
                  .v1_10244
                    span.v1_10245 Отзыв о компаниях
                    span.v1_10246 Народный рейтинг
                    span.v1_10247 Вопрос-ответ
                    span.v1_10248 Форум
                    span.v1_10249 Опросы
                .v1_10250
                  span.v1_10251 Финансы и право
                  .v1_10252
                    span.v1_10253 Ипотека и банки
                    span.v1_10254 Страхование
                    span.v1_10255 Юристы, оценка и налог
                    span.v1_10256 Ипотечный калькулятор
                    span.v1_10257 Калькулятор страхования
                    span.v1_10258 Законодательство
                .v1_10259
                  span.v1_10260 Всё для дома
                  .v1_10261
                    span.v1_10262 Архитектура и дизайн
                    span.v1_10263 Строительство и ремонт
                    span.v1_10264 Всё для дома, дачи, сада
                    span.v1_10265 Полезные советы
                    span.v1_10266 Идеи для дома
                .name
                .name
                .name
                .v1_10270
                  span.v1_10271 О проекте
                  span.v1_10272 Реклама
                  span.v1_10273 Пользовательское соглашение
                  span.v1_10274 Служба поддержки
                  span.v1_10275 Политика конфиденциальности
                  span.v1_10276 Контакты
                .v1_10277
                  .v1_10278
                  .v1_10279
                  .v1_10280
                  .v1_10281
                span.v1_10282
                  | Вся информация на сайте предоставлена исключительно с целью
                  | ознакомления, получена в том числе из публичных и открытых
                  | источников, и ни при каких условиях не является рекомендацией
                  | или публичной офертой, определяемой положениями Статьи 437
                  | Гражданского кодекса РФ.
                .v1_10283
                  span.v1_10284 © 2020 Rendv.ru Ревизор недвижимости
                  span.v1_10285 Все права защищены
              .v1_10286
                .v1_10287
                  .v1_11254
                    .v1_11255
                  .v1_11252
                    .v1_11253
                  .v1_11250
                    .v1_11251
                  .v1_11248
                    .v1_11249
                  .v1_11246
                    .v1_11247
                  .v1_10293
                    .v1_10294
                  .v1_10295
                    span.v1_10296 1
                    span.v1_10297 2
                    span.v1_10298 3
                    span.v1_10299 4
                    span.v1_10300 5
                    span.v1_10301 Следующая
                .v1_10302
                  span.v1_10303 Показать еще 32 объекта
              .v1_10304
                .v1_10305
                .v1_10306
                  .v1_10307
                  .v1_10308
                    span.v1_10309 Город, адрес, метро, район или ЖК
                    span.v1_10310 Метро
                  .v1_10311
                    span.v1_10312 Комнаты
                    .name
                    .v1_10314
                  .v1_10315
                    .name
                    span.v1_10317 Срок сдачи
                    .v1_10318
                  .v1_10319
                    .name
                    span.v1_10321 Стоимость
                    .v1_10322
                .v1_10323
                  span.v1_10324 Снять
                  .v1_10325
                  .name
                  .v1_10327
                    .v1_10328
                    span.v1_10329 Купить
                .v1_10330
                  .v1_10331
                  .v1_10332
                    .v1_10333
                    span.v1_10334 Квартиру
                    span.v1_10335 Новостройку
                .v1_10336
                  .v1_10337
                    .name
                    span.v1_10339 Студия
                    .v1_10340
                      .name
                      span.v1_10342 1
                    .v1_10343
                      .name
                      span.v1_10345 2
                    .v1_10346
                      .name
                      span.v1_10348 3
                    .v1_10349
                      span.v1_10350 4+
                    .v1_10351
                .v1_10352
                  .v1_10353
                  span.v1_10354 Срок сдачи
                  .v1_10355
                .v1_10356
                  .v1_10357
                  span.v1_10358 Купить
                  .v1_10359
                .v1_10360
                  .v1_10361
                  span.v1_10362 Вторичка, новостройки
                  .v1_10363
                .v1_10364
                  .v1_10365
                  span.v1_10366 Квартиру
                  .v1_10367
                .v1_10368
                  .name
                  span.v1_10370 Площадь от
                  span.v1_10371 до
                  span.v1_10372 м²
                  .v1_10373
                .v1_10374
                  .name
                  span.v1_10376 Стоимость от
                  span.v1_10377 до
                  span.v1_10378 ₽
                  .v1_10379
                .v1_10380
                  span.v1_10381 Адрес или ЖК
                  span.v1_10382 Метро
                  .v1_10383
                .v1_10384
                  .v1_10385
                    span.v1_10386 Показать 16 500 объявлений
                  .v1_10387
                    .v1_10388
                      .v1_10389
                      .v1_10390
                    span.v1_10391 Смотреть на карте
                  .v1_10392
                    .v1_10393
                    span.v1_10394 Свернуть
                .v1_10395
                  .v1_10396
                    span.v1_10397 Не первый
                  .v1_10398
                    span.v1_10399 Не последний
                  .v1_10400
                    span.v1_10401 Последний
                  .v1_10402
                    .name
                    span.v1_10404 с
                    span.v1_10405 по
                    .v1_10406
                    span.v1_10407 Этаж
                  .v1_10408
                    .name
                    span.v1_10410 от
                    span.v1_10411 до
                    span.v1_10412 м²
                    .v1_10413
                    span.v1_10414 Площадь кухни
                  .v1_10415
                    .name
                    span.v1_10417 от
                    span.v1_10418 до
                    span.v1_10419 м
                    .v1_10420
                    span.v1_10421 Высота потолков
                  .v1_10422
                    .v1_10423
                      span.v1_10424 Большой
                    .v1_10425
                      span.v1_10426 Стандартный
                      .v1_10427
                    .v1_10428
                      span.v1_10429 Гостевой
                    span.v1_10430 Тип санузла
                  .v1_10431
                    .v1_10432
                      span.v1_10433 Предчистовая
                    .v1_10434
                      span.v1_10435 Чистовая
                    .v1_10436
                      span.v1_10437 Черновая
                    span.v1_10438 Тип отделки
                  .v1_10439
                    .v1_10440
                      span.v1_10441 Евроремонт
                    .v1_10442
                      span.v1_10443 Косметический
                    .v1_10444
                      span.v1_10445 Дизайнерский
                    .v1_10446
                      span.v1_10447 Нужен ремонт
                    .v1_10448
                      span.v1_10449 Без ремонта
                    span.v1_10450 Ремонт
                  .v1_10451
                    .v1_10452
                      span.v1_10453 Апартаменты
                    .v1_10454
                      span.v1_10455 Без апартаментов
                    span.v1_10456 Апартаменты
                  .v1_10457
                    .v1_10458
                      span.v1_10459 Балкон
                    .v1_10460
                      span.v1_10461 Лоджия
                    span.v1_10462 Балкон / лоджия
                  span.v1_10463 Квартира
                .v1_10464
                  .v1_10465
                    .v1_10466
                      span.v1_10467 Кирпично-монолитный
                    .v1_10468
                      span.v1_10469 Панельный
                    .v1_10470
                      span.v1_10471 Монолитный
                    .v1_10472
                      span.v1_10473 Кирпичный
                    .v1_10474
                      span.v1_10475 Блочный
                    span.v1_10476 Тип дома
                  .v1_10477
                    .v1_10478
                      span.v1_10479 Подземная
                    .v1_10480
                      span.v1_10481 Закрытая
                    .v1_10482
                      span.v1_10483 Открытая
                    span.v1_10484 Тип парковки
                  .v1_10485
                    .v1_10486
                      span.v1_10487 Премиум
                    .v1_10488
                      span.v1_10489 Бизнес
                    .v1_10490
                      span.v1_10491 Комфорт
                    .v1_10492
                      span.v1_10493 Эконом
                    span.v1_10494 Класс жилья
                  .v1_10495
                    .v1_10496
                      span.v1_10497 Дом сдан
                    .v1_10498
                      span.v1_10499 2020г.
                    .v1_10500
                      span.v1_10501 2021г.
                    .v1_10502
                      span.v1_10503 2022г.
                    .v1_10504
                      span.v1_10505 2023г.
                    .v1_10506
                      span.v1_10507 2024г.
                    span.v1_10508 Срок сдачи
                  .v1_10509
                    .name
                    span.v1_10511 от
                    span.v1_10512 до
                    .v1_10513
                    span.v1_10514 Количество этажей в доме
                  .v1_10515
                    .name
                    span.v1_10517 с
                    span.v1_10518 по
                    .v1_10519
                    span.v1_10520 Год постройки
                  span.v1_10521 Дом
                .v1_10522
                  .v1_10523
                    span.v1_10524 Например: срочно
                    .v1_10525
                    span.v1_10526 Содержит слова в объявлении
                    .v1_10527
                      .v1_10528
                      span.v1_10529 +
                  .v1_10530
                    span.v1_10531 Например: переуступка 
                    .v1_10532
                    span.v1_10533 Исключить слова в объявлении
                    .v1_10534
                      .v1_10535
                      span.v1_10536 +
                  span.v1_10537 Дополнительно
                  .v1_10538
                    span.v1_10539 Удобства
                    .v1_10540
                      span.v1_10541 От собственника
                    .v1_10542
                      span.v1_10543 Проверенные в ЕГРН
                    .v1_10544
                      span.v1_10545 Без комиссии
                    .v1_10546
                      span.v1_10547 Только с фото
                  .v1_10548
                    span.v1_10549 С панорамными окнами
                    .v1_10550
                .v1_10551
                  span.v1_10552 Расположение
                  .v1_10553
                    span.v1_10554 Указать на карте
                    .v1_10555
                      span.v1_10556 Нарисовать область
                      .v1_10557
                  .v1_10558
                    span.v1_10559 Время до метро
                    .v1_10560
                      .v1_10561
                      .v1_10562
                      .name
                      span.v1_10564 Пешком
                      span.v1_10565 Транспорт
                    .v1_10566
                      span.v1_10567 5 мин.
                    .v1_10568
                      span.v1_10569 10 мин.
                    .v1_10570
                      span.v1_10571 15 мин.
                    .v1_10572
                      span.v1_10573 20 мин.
                    .v1_10574
                      span.v1_10575 30+ мин.
                .v1_10576
                  .v1_10577
                  .v1_10578
                  .name
                  span.v1_10580 Всё
                  span.v1_10581 м²
              .v1303_0
                .name
              .v1_10855
                .v1_10856
                .v1_10857
                  .v1_10858
                .v1_10859
                  .v1_10860
                  span.v1_10861 Разместить объявление
                .v1_10862
                  .name
                span.v1_10864 Ипотека и банки
                span.v1_10865 Страхование
                span.v1_10866 Юристы, оценка и налог
                span.v1_10867 Ипотечный калькулятор
                span.v1_10868 Калькулятор страхования
                span.v1_10869 Законодательство
                .v1_10870
                  .v1_10871
                  .v1_10872
                .v1_10873
                  .v1_10874
                    .v1_10875
                    .v1_10876
                    .v1_10877
                    .v1_10878
                  .v1_10879
                .v1_10880
                .v1_10881
                  .v1_10882
                    .v1_10883
                    span.v1_10884 Недвижимость
                  .v1_10885
                    .v1_10886
                      .v1_10887
                      .v1_10888
                    span.v1_10889 Финансы
                  .v1_10890
                    .v1_10891
                    span.v1_10892 Рейтинг компаний
                  .v1_10893
                    .v1_10894
                    span.v1_10895 Биржа услуг
                  .v1_10896
                    .v1_10897
                    span.v1_10898 Новости
                  .v1_10899
                    .v1_10900
                    span.v1_10901 Блоги
                  .v1_10902
                    .v1_10903
                    span.v1_10904 Мнение эксперта
                .v1_10905
                .v1_10906
                  span.v1_10907 Вход и регистрация
