section#sale.sale
  .sale__wrapper
    .container
      .sale__body
        h2 Реклама от застройщиков
    .container
      .sale__slider.sale-slider
        .sale-slider__arrows
          i.sale-slider__arrow.sale-slider__arrow_prev.advert-slider_prev.icon-chevron-left
          i.sale-slider__arrow.sale-slider__arrow_next.advert-slider_next.icon-chevron-right
        .sale-slider__body.slider-advert-js
          - 
            slides = [
                { text:"ЖК «Екатериновский»", img:"assets/img/sale/img-4.webp"},
                { text:"ЖК «На Гаранина»", img:"assets/img/sale/img-2.webp"},
                { text:"ЖК  «У моря Обского»", img:"assets/img/sale/img-3.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-2.webp"},
                { text:"Город-парк Ясный Берег", img:"assets/img/sale/img-4.webp"},
                { text:"Расцветай на Ядрицевской", img:"assets/img/sale/img-2.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-3.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-2.webp"}
            ]
          each item in slides
            .slider__item.slider__item_advert.slider-item
              .slider-item__body
                .slider-item__plaha
                  span Реклама
                .slider-item__img 
                  .ibg.bg
                    img(src=item.img,alt="img")
                .slider-item__title=item.text
                .slider-item__text Квартиры от 2 млн.
                  span.icon-rouble
                  span .