section#advert.sale.sale--advert-next
    .container
      .sale__body
        h2.title Реклама от застройщиков
      .sale__slider.slider
        .slider__arrows
          i.slider__arrow.slider__arrow_prev.icon-chevron-left.slider__arrow_prev--advert-next
          i.slider__arrow.slider__arrow_next.icon-chevron-right.slider__arrow_next--advert-next
        ul.slider__body.slider-advert-next-js.sale-scroll.sale__scroll
          - 
            slides = [
                { text:"ЖК «Екатериновский»", img:"assets/img/sale/img-4.webp"},
                { text:"ЖК «На Гаранина»", img:"assets/img/sale/img-2.webp"},
                { text:"ЖК  «У моря Обского»", img:"assets/img/sale/img-3.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-2.webp"},
                { text:"Город-парк Ясный Берег", img:"assets/img/sale/img-4.webp"},
                { text:"Расцветай на Ядрицевской", img:"assets/img/sale/img-2.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-3.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-2.webp"}
            ]
          each item in slides
            li.slider__item.card-object.card-object_advert.sale-scroll__item
              a.cover-link.cover-link--sale.cover-link--advert(href="#!")
                .card-object__badge.card-object-badge Реклама
                img.card-object__img.card-object__img_advert(src=item.img,alt="img")
                .card-object__title.card-object__title_advert=item.text
                .card-object__text.card-object__text_advert Квартиры от 2 млн.
                  span.icon-rouble
                  span .