section#buy.buy
    .container.container--sale
        .buy__title Купить
        .buy__scroll
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-1.webp')")
            .buy-item__title Новостройки
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-2.webp')")
            .buy-item__title Квартиры
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-3.webp')")
            .buy-item__title Комнаты
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-1.webp')")
            .buy-item__title Новостройки
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-2.webp')")
            .buy-item__title Квартиры
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-3.webp')")
            .buy-item__title Комнаты
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-1.webp')")
            .buy-item__title Новостройки
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-2.webp')")
            .buy-item__title Квартиры
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-3.webp')")
            .buy-item__title Комнаты
            .buy-item__number 3 648





section#take-off.buy
    .container.container--sale
        .buy__title Снять
        .buy__scroll
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-1.webp')")
            .buy-item__title Новостройки
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-2.webp')")
            .buy-item__title Квартиры
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-3.webp')")
            .buy-item__title Комнаты
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-1.webp')")
            .buy-item__title Новостройки
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-2.webp')")
            .buy-item__title Квартиры
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-3.webp')")
            .buy-item__title Комнаты
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-1.webp')")
            .buy-item__title Новостройки
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-2.webp')")
            .buy-item__title Квартиры
            .buy-item__number 3 648
          .buy__item.buy-item(style="background-image: url('assets/img/buy/buy-3.webp')")
            .buy-item__title Комнаты
            .buy-item__number 3 648