section#calc.news.news_calc
    .container
      .news__body.news__body_calc
        .news__left.calculator
            .calculator__sliders.calculator-sliders 
                h2.title_calc Калькулятор ипотеки
                .calculator-sliders__body
                  .calculator-sliders__column
                      section.calculator-section(data-type='slider-group' data-question-id='6')
                        .calculator-section__title Стоимость недвижимости
                        p.range
                          .calculator-section__number
                            output 
                            span.icon-rouble
                          input#test1(type='range' min='0' max='5000000' value='100' step='1' name='groep1')
                      section.calculator-section(data-type='slider-group' data-question-id='7')
                        .calculator-section__title Первоначальный взнос
                        p.range
                          .calculator-section__number
                            output 
                            .icon-rouble
                            .calculator-section__marker.calculator-section__marker--twenty 20%
                          input#test2(type='range' min='0' max='5000000' value='100' step='1' name='groep2')
                  .calculator-sliders__column
                      section.calculator-section(data-type='slider-group' data-question-id='8')
                        .calculator-section__title Ставка
                        p.range
                          .calculator-section__number
                            output 
                            .calculator-section__marker.calculator-section__marker--years--procents %
                          input#test3(type='range' min='0' max='100' value='1' step='1' name='groep3')
                      section.calculator-section(data-type='slider-group' data-question-id='9')
                        .calculator-section__title Срок 
                        p.range
                          .calculator-section__number
                            output
                            .calculator-section__marker.calculator-section__marker--years лет  
                          input#test4(type='range' min='0' max='20' value='1' step='1' name='groep4')
                .calculator-sliders__text Сумма кредита
                .calculator-sliders__number 27 170 000 <span class="icon-rouble"></span>

            .calculator__offer.calculator-offer 
                  .calculator-offer__line.news-line
                    .news-line__body.row.no-gutters
                      img.news-line__icon(src="assets/img/calc/calc-1.svg",alt="img")
                      .news-line__text.col-lg-3  ДОМ.РФ
                      .news-line__number.col-lg-2  8,7%
                      .news-line__rate.col-lg-4 212 542 <span   class="icon-rouble"></span>/мес.
                  .calculator-offer__line.news-line
                    .news-line__body.row.no-gutters
                      img.news-line__icon(src="assets/img/calc/calc-2.svg",alt="img")
                      .news-line__text.col-lg-3  Банк ВТБ
                      .news-line__number.col-lg-2  8,9%
                      .news-line__rate.col-lg-4  216 423 <span  class="icon-rouble"></span>/мес.
                  .calculator-offer__line.calculator-offer__line_last.news-line
                    .news-line__body.row.no-gutters
                      img.news-line__icon(src="assets/img/calc/calc-3.svg",alt="img")
                      .news-line__text.col-lg-3 МТС банк
                      .news-line__number.col-lg-2 9,1% 
                      .news-line__rate.col-lg-4  220 332 <span  class="icon-rouble"></span>/мес.
                  
                  button.btn.btn--success.calculator-offer__button(type='button')  Смотреть предложение

            
        .news__right.news-right.news-right_calc
          a.cover-link(href="#!")
          .news-right__title.news-right__title_calc  2-комнатные квартиры на Горском
          .news-right__text.news-right__text_calc от 2,5 млн.  <span class="icon-rouble"></span>




