section#cat.cat
 .cat__wrapper
    .container
        h2.common-Title Категории недвижимости
        ul.cat__body
          li.cat__item.cat-item
            .cat-item__body
              .ibg.bg
                img(src="assets/img/cat/cat-img-1.webp",alt="imgcat-img-1")
              .cat-item__plaha.cat-item-plaha
                .cat-item-plaha__body
                  .cat-item-plaha__title Новостройки
                  .cat-item-plaha__text 
                    span Купить 
                    span 3 648
          li.cat__item.cat-item
            .cat-item__body
              .ibg.bg
                img(src="assets/img/cat/cat-img-2.webp",alt="imgcat-img-1")
              .cat-item__plaha.cat-item-plaha
                .cat-item-plaha__body
                  .cat-item-plaha__title Квартиры
                  .cat-item-plaha__text 
                    span Купить 
                    span 3 648
                  .cat-item-plaha__text 
                    span Снять 
                    span 10 648
          li.cat__item.cat-item
            .cat-item__body
              .ibg.bg
                img(src="assets/img/cat/cat-img-3.webp",alt="imgcat-img-1")
              .cat-item__plaha.cat-item-plaha
                .cat-item-plaha__body
                  .cat-item-plaha__title Комнаты
                  .cat-item-plaha__text 
                    span Купить 
                    span 3 648
                  .cat-item-plaha__text 
                    span Снять 
                    span 10 648
          li.cat__item.cat-item
            .cat-item__body
              .ibg.bg
                img(src="assets/img/cat/cat-img-4.webp",alt="imgcat-img-1")
              .cat-item__plaha.cat-item-plaha
                .cat-item-plaha__body
                  .cat-item-plaha__title Коммерческая
                  .cat-item-plaha__text 
                    span Офисы 
                    span 3 648
                  .cat-item-plaha__text 
                    span Помещения
                    span 13 648
                  .cat-item-plaha__text 
                    span Склады
                    span 13 648
          li.cat__item.cat-item
            .cat-item__body
              .ibg.bg
                img(src="assets/img/cat/cat-img-5.webp",alt="imgcat-img-1")
              .cat-item__plaha.cat-item-plaha
                .cat-item-plaha__body
                  .cat-item-plaha__title Загородная
                  .cat-item-plaha__text 
                    span Дом 
                    span 3 648
                  .cat-item-plaha__text 
                    span Участок 
                    span 3 648
          li.cat__item.cat-item
            .cat-item__body
              .ibg.bg
                img(src="assets/img/cat/cat-img-6.webp",alt="imgcat-img-1")
              .cat-item__plaha.cat-item-plaha
                .cat-item-plaha__body
                  .cat-item-plaha__title Поиск на карте
                  button.btn--success.btn--success-icon.header-main__button(type='button') 
                    span Смотреть
                    span.icon-arrow-right

