section#cat.cat
 .cat__wrapper
    .container
        h2.common-Title Категории недвижимости
        ul.cat__body
          li.cat__item.cat-item
            .card--cat.cat-item__card--cat
              .badge
                .badge__title Новостройки
                .badge__text 
                  span.badge__bye Купить 
                  span.badge__number 3 648
          li.cat__item.cat-item
            .card--cat.cat-item__card--cat
              .badge
                .badge__title Квартиры
                .badge__text 
                  span.badge__bye Купить 
                  span.badge__number 3 648
                .badge__text 
                  span.badge__bye Снять 
                  span.badge__number 10 648
          li.cat__item.cat-item
            .card--cat.cat-item__card--cat
              .badge
                .badge__title Комнаты
                .badge__text 
                  span.badge__bye Купить 
                  span.badge__number 3 648
                .badge__text 
                  span.badge__bye Снять 
                  span.badge__number 10 648
          li.cat__item.cat-item
            .card--cat.cat-item__card--cat
              .badge
                .badge__title Коммерческая
                .badge__text 
                  span.badge__bye Купить 
                  span.badge__number 3 648
                .badge__text 
                  span.badge__bye Снять 
                  span.badge__number 10 648
          li.cat__item.cat-item
            .card--cat.cat-item__card--cat
              .badge
                .badge__title Загородная
                .badge__text 
                  span.badge__bye Купить 
                  span.badge__number 3 648
                .badge__text 
                  span.badge__bye Снять 
                  span.badge__number 10 648
          li.cat__item.cat-item
            .card--cat.cat-item__card--cat
              .badge
                .badge__title Поиск на карте
                .badge__button
                  button.btn.btn--success.btn--success-icon.cat-item__btn(type='button') Смотреть
                    span.btn__icon.icon-arrow-right


