section#categories.categories
    .container.container--sale
        h2.title.title--categories Категории недвижимости
        ul.categories__body
          li.categories__item.categories-item(style="background-image: url('/assets/img/cat/cat-img-1.webp')")
            a.cover-link(href="#!")
              .categories-item__badge
                .categories-item__title Новостройки
                .categories-item__text
                  span Купить 
                  span 3 648
   
          li.categories__item.categories-item(style="background-image: url('/assets/img/cat/cat-img-2.webp')")
            a.cover-link(href="#!")
              .categories-item__badge
                .categories-item__title Квартиры
                .categories-item__text
                  span Купить 
                  span 3 648
                .categories-item__text
                  span Снять 
                  span 10 648
          li.categories__item.categories-item(style="background-image: url('/assets/img/cat/cat-img-3.webp')")
            a.cover-link(href="#!")
              .categories-item__badge
                .categories-item__title Комнаты
                .categories-item__text
                  span Купить 
                  span 3 648
                .categories-item__text
                  span Снять 
                  span 10 648
          li.categories__item.categories-item(style="background-image: url('/assets/img/cat/cat-img-4.webp')")
            a.cover-link(href="#!")
              .categories-item__badge
                .categories-item__title Коммерческая
                .categories-item__text
                  span Офисы 
                  span 3 648
                .categories-item__text
                  span Помещения 
                  span 10 648
                .categories-item__text
                  span Склады
                  span 10 648
          li.categories__item.categories-item(style="background-image: url('/assets/img/cat/cat-img-5.webp')")
            a.cover-link(href="#!")
              .categories-item__badge
                .categories-item__title Загородная
                .categories-item__text
                  span Купить 
                  span 3 648
                .categories-item__text
                  span Снять 
                  span 10 648
          li.categories__item.categories-item(style="background-image: url('/assets/img/cat/cat-img-6.webp')")
            a.cover-link(href="#!")
              .categories-item__badge.categories-item__badge--last
                .categories-item__title Поиск на карте
                button.btn.btn--success.btn--success-icon.categories-item__btn(type='button') Смотреть
                  span.icon-arrow-right


