section#filter-lap.filter-lap
    .container
      .filter-lap__title  Поиск недвижимости
      form.filter-lap__body
        .filter-lap__filter.sale-filter
            - 
              items = [
                  {title: "Купить"},
                  {title: "Снять"},
                  {title: "Посуточно"},
                  {title: "Новостройки"}
              ]
            each item in items
              li.sale-filter__item
                .sale-filter__title=item.title

        .filter-lap__line.filter-lap-line
            .filter-lap-line__column
              .filter-lap-line__title Тип объекта
              .filter-lap-line__select
                select.select
                  option( value='Квартира' disabled ) Квартира
                  option(value='Комната') Комната
                  option(value='Загородная') Загородная
                  option(value='Коммерческая') Коммерческая
            .filter-lap-line__column
              .filter-lap-line__title Кол-во комнат
              .filter-lap-line__number.sale-filter
                - 
                  items = [
                      {title: "1"},
                      {title: "2"},
                      {title: "3"},
                      {title: "4"},
                      {title: "+5"},
                  ]
                each item in items
                  li.sale-filter__item
                    .sale-filter__title=item.title
        .filter-lap__line.filter-lap-line
            .filter-lap-line__column
              .filter-lap-line__title Стоимость
              .filter-lap-line__range
                .filter-lap-line__input
                  input(type='text'  placeholder='oт')
                .filter-lap-line__input
                  input(type='text'  placeholder='до')
                  i.icon-rouble
            .filter-lap-line__column
              .filter-lap-line__title Адрес или ЖК
              .filter-lap-line__input.filter-lap-line__input_metro
                  input(type='text'  placeholder='Введите')
                  span.filter-lap-line__metro Метро
        .filter-lap__buttons
            a.filter-lap__link(href="#!") Смотреть на карте
            button.btn.btn--success.filter-lap__button(type='button') Показать 155 523
