section#garden-sm.garden-sm
    .container--sale
      .garden-sm__body
          .garden-sm-item__mask
          
          .garden-sm-item__title ЖК «Алхимово»
          .garden-sm-item__text от 4 000 000 <span class="icon-rouble"></span>
          a.garden-sm-item__button(href="#!")
            span Смотреть
            i.icon-arrow-right