section#garden.look
  .look__wrapper
    .container
      .look__body
        .look__left
          .ibg.bg
            img(src="assets/img/garden.webp",alt="look-1.webp")
        .look__right.look-right
          .look-right__body
            h2.look-right__title ЖК «Дивный сад на Покрышкина»
            .look-right__text  
              p «Алхимово» — яркий район в Новой Москве. 
              p В домах на берегу Десны вы будете ближе к природе и сможете дышать полной грудью, наслаждаться зелеными пейзажами из окна.
            .look-right__button-block
              button.btn--success(type='button').look-right__button Смотреть квартиры
              span от 4 100 000 
              span.icon-rouble