//- подключаем везде
include ../utils/mixins

//- img.screen(
//-   src="assets/img/Screenshot.png",alt="img" 
//-   )
header#header.header
  .header__wrapper
    .container
      .header__top.header-top
        .header-top__body.row
          .header-top__location.header-top-location
            a(href="#!").header-top-location__body.row.no-gutters
              span.icon-location
                span.path1
                span.path2
              .header-top-location__text  Новосибирск
          .header-top__currency.header-top-currency
            .header-top-currency__body.row
              .header-top-currency__item  
                span USD   
                span 73.31 руб. 
                span  (-0,36)
              .header-top-currency__item
                span  EUR   
                span  88.94 руб. 
                span (-0,26)
          button.btn.btn-success.header-top__button(type='button') Вход и регистрация
    hr
    .container
      .header__main.header-main
        .header-main__body.row
          a.header-main__logo(href="#!")
            img(src="assets/img/header/logo-1.svg",alt="img")
          ul.header-main__menu.header-main-menu.row.no-gutters
            .header__menu_overlay
            i.header-close.fa.fa-times
            - 
              items = [
              { title: "Недвижимость "},
              { title: "Финансы "},
              { title: "Рейтинг компаний "},
              { title: "Биржа услуг "},
              { title: "Новости"},
              { title: "Блоги"},
              { title: "Мнение эксперта"},
              ]
            each item in items  
              li.header-main-menu__item
                a.header-main-menu__link(href="#!")=item.title

          button.btn.btn-success.header-main__button(type='button') 
            span.icon-plus
            span Разместить объявление
      
    .container-fluid 
      .header__select.header-select
        .ibg.bg
          img(src="assets/img/header/top-img.webp",alt="top-img")
        .header-select__body
          h1.header-select__title Поможем воплотить мечту в реальность
          .header-select__tabs
            .tabs__body.row.no-gutters
              - 
                items = [
                  { title: "Купить",text:"№1 "},
                  { title: "Снять",text:"№2"},
                  { title: "Посуточно",text:"№3"},
                  { title: "Новостройки",text:"№4"},
                ]

              each item in items
                .tabs__item.tabs-item
                  .tabs-item__body
                    .tabs-item__title.tabsDep-title-js=item.title 
                        //- ---------------------------------------------
                    .tabs__drop.tabs__drop_sub.tabs-drop.tabsDep-drop-js
                      .tabs-drop__body.row.no-gutters
                        - 
                          items = [
                            { title: "Коммерческую"},
                            { title: "Комнат"},
                            { title: "Стоимость"},
                          ]
                        each item in items
                          .tabs__item.tabs-item
                            .tabs-item__body
                              .tabs-item__title.tabsDep-title-js=item.title 
                                .tabs-item__img.icon-chevron-down.tabsDep-img-js
                              .tabs__drop.tabs-drop.tabsDep-drop-js
                                .tabs-drop__body
                                  p какой-то контент для 
                                  span=item.title
                        .tabs-drop__info.row.no-gutters
                          a.tabs-drop__adress(href="#!") Адрес или ЖК
                          a.tabs-drop__metro(href="#!") Метро 


          .header-select__buttons
            button.btn.btn-light(type='button') Смотреть на карте
            button.btn.btn-success(type='button') Показать 155 523

 

      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      //- .header__body.row.no-gutters
      //-   a(href="#!").header__logo
      //-     img(src="assets/img/logo.svg",alt="img")
      //-   ul.header__menu.header-menu.row.no-gutters#header__menu
      //-     .header__menu_overlay
      //-     i.header-close.fa.fa-times
      //-     li.header-menu__item
      //-       a.header-menu__link(href="#!") Преимущества
      //-     li.header-menu__item 
      //-       a.header-menu__link(href="#!") Продукт
      //-     li.header-menu__item 
      //-       a.header-menu__link(href="#!") Схема работы
      //-     li.header-menu__item 
      //-       a.header-menu__link(href="#!") О компании
      //-   .header__service.header-service
      //-     a(href="#!").header-service__phone.header-service-phone
      //-       .header-service-phone__body
      //-         .header-service-phone__img
      //-           img(src="assets/img/header/call-1.svg",alt="img")  
      //-         span +7 925 255-55-55
      //-   img.header-burger(src="assets/img/header/burger.svg",alt="img")



