//- подключаем везде
include ../utils/mixins


header#header.header
    .header__top.header-top
        .header-top__body.container
          a(href="#!").header-top__location.top-location
            span.icon-location.top-location__icon
              span.path1
              span.path2
            .top-location__text  Новосибирск
          .header-top__properties.top-properties
            .top-properties__property.top-properties__property--usd  
                span.top-properties__property-type USD   
                span.top-properties__property-number 73.31 руб. 
                span.top-properties__property-difference  (-0,36)
            .top-properties__property.top-properties__property--euro 
                span.top-properties__property-type  EUR   
                span.top-properties__property-number  88.94 руб. 
                span.top-properties__property-difference (-0,26)
          button.btn.btn--success(type='button').header-top__button Вход и регистрация
    
    .header__main.header-main
        .header-main__body.container
          a.header-main__logo(href="#!")
            img(src="assets/img/header/logo-1.svg",alt="img")
          .header-main__menu.header-menu
            .header-menu__overlay
            i.header-close.fa.fa-times
            ul.header-main__nav.header-nav
              - 
                items = [
                { title: "Недвижимость "},
                { title: "Финансы "},
                { title: "Рейтинг компаний "},
                { title: "Биржа услуг "},
                { title: "Новости"},
                { title: "Блоги"},
                { title: "Мнение эксперта"},
                ]
              each item in items  
                li.header-nav__item
                  a.header-nav__link(href="#!")=item.title
          button.btn.btn--success.btn--success-icon.header-main__button(type='button') 
            span.icon-plus
            span Разместить объявление
      
    .container-fluid 
      .header__select.header-select
        .header-select__body 
          h1.header-select__title Поможем воплотить мечту в реальность
          
          
          .header-select__filter.filter
            .filter__body
              - 
                items = [
                  { title: "Купить",text:"№1 "},
                  { title: "Снять",text:"№2"},
                  { title: "Посуточно",text:"№3"},
                  { title: "Новостройки",text:"№4"},
                ]

              each item in items
                .filter__item.filter-item
                    .filter-item__title.filterDep-title-js=item.title 
                        //- ---------------------------------------------
                    .filter__drop.filter__drop_sub.filter-drop.filterDep-drop-js
                      .filter-drop__body
                        - 
                          items = [
                            { title: "Коммерческую"},
                            { title: "Комнат"},
                            { title: "Стоимость"},
                          ]
                        each item in items
                          .filter__item.filter-item
                              .filter-item__title.filterDep-title-js=item.title 
                                .filter-item__img.icon-chevron-down.filterDep-img-js
                              .filter__drop.filter-drop.filterDep-drop-js
                                .filter-drop__body
                                  p какой-то контент для 
                                  span=item.title
                        .filter-drop__properties
                          a.filter-drop__property.filter-drop__property--adress(href="#!") Адрес или ЖК
                          a.filter-drop__property.filter-drop__property--metro(href="#!") Метро 
          .header-select__buttons
            button.btn.btn--light.header-select__button.header-select__button--look(type='button')  Смотреть на карте
            button.btn.btn--success.header-select__button.header-select__button--show(type='button')  Показать 155 523

 

      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      //- .header__body.row.no-gutters
      //-   a(href="#!").header__logo
      //-     img(src="assets/img/logo.svg",alt="img")
      //-   ul.header__menu.header-menu.row.no-gutters#header__menu
      //-     .header__menu_overlay
      //-     i.header-close.fa.fa-times
      //-     li.header-menu__item
      //-       a.header-menu__link(href="#!") Преимущества
      //-     li.header-menu__item 
      //-       a.header-menu__link(href="#!") Продукт
      //-     li.header-menu__item 
      //-       a.header-menu__link(href="#!") Схема работы
      //-     li.header-menu__item 
      //-       a.header-menu__link(href="#!") О компании
      //-   .header__service.header-service
      //-     a(href="#!").header-service__phone.header-service-phone
      //-       .header-service-phone__body
      //-         .header-service-phone__img
      //-           img(src="assets/img/header/call-1.svg",alt="img")  
      //-         span +7 925 255-55-55
      //-   img.header-burger(src="assets/img/header/burger.svg",alt="img")



