section#modal-foget.modal-enter.modal-enter--main.modal-enter--forget
      form.modal-enter__body.modal-enter__body--main.modal-enter__body--forget
        h2.modal-enter__title.modal-enter__title--forget Забыли пароль?
        .modal-enter__text.modal-enter__text--forget Чтобы восстановить пароль, введите свой номер телефона ниже и следуйте инструкциям по сбросу 
        .modal-enter__input.modal-enter__input--forget.modal-enter-input
            label(for="phone").modal-enter-input__label.modal-enter-input__label--forget Номер телефона
            input#phone(type="text" placeholder="+7 (000) 000-00-00" name="password").modal-enter-input__input.modal-enter-input__input--main
        button.btn.btn--success.modal-enter__button.modal-enter__button--forget-lp.modal-enter__button--forget(type='button') Продолжить
      .modal-enter__footer.modal-enter-footer
            .modal-enter-footer__copy.modal-enter-footer__copy--main ©2020 RENDV.RU
            a(href="#!").modal-enter-footer__link.modal-enter-footer__link--enter Полная версия
            ul.modal-enter-footer__social
                li.modal-enter-footer__item.modal-enter-footer__facebook--main
                  a(href="#!").modal-enter-footer__link-social
                    img(src="assets/img/modal-enter-main/footer-facebook.svg",alt="img")
                li.modal-enter-footer__item
                  a(href="#!").modal-enter-footer__link-social
                    img(src="assets/img/modal-enter-main/insta.svg",alt="img")
                li.modal-enter-footer__item
                  a(href="#!").modal-enter-footer__link-social
                    img(src="assets/img/modal-enter-main/vk-footer.svg",alt="img")