section#modal-safe.modal-enter.modal-enter--safe.modal-enter--ready.modal-enter--main
      form.modal-enter__body.modal-enter__body--main.modal-enter__body--forget.modal-enter__body--safe
        h2.modal-enter__title.modal-enter__title--forget Отлично
        .modal-enter__text.modal-enter__text--forget Вы успешно сменили пароль. Осталось только запомнить его!
        button.btn.btn--success.modal-enter__button.modal-enter__button--forget-lp.modal-enter__button--forget(type='button') Продолжить
      .modal-enter__footer.modal-enter-footer
            .modal-enter-footer__copy.modal-enter-footer__copy--main ©2020 RENDV.RU
            a(href="#!").modal-enter-footer__link Полная версия
            ul.modal-enter-footer__social
                li.modal-enter-footer__item.modal-enter-footer__facebook--main
                  a(href="#!").modal-enter-footer__link-social
                    img(src="assets/img/modal-enter-main/footer-facebook.svg",alt="img")
                li.modal-enter-footer__item
                  a(href="#!").modal-enter-footer__link-social
                    img(src="assets/img/modal-enter-main/insta.svg",alt="img")
                li.modal-enter-footer__item
                  a(href="#!").modal-enter-footer__link-social
                    img(src="assets/img/modal-enter-main/vk-footer.svg",alt="img")
