section#news.news
  .news__wrapper
    .container
      h2 Последние новости
      .news__body
        
        .news__left.news-left
          .news-left__body
            
            .news-left__card.news-left-card
              .news-left-card__body
                .ibg.bg
                  img(src="assets/img/news/news-1.webp",alt="news-1")
                .news-left-card__text Сад и огород
                .news-left-card__title  Как правильно черенковать землю?  Советы от Ирины Огурцовой
                .news-left-card__notes  12 августа 2020 г.
            .news-left__card.news-left-card
              .news-left-card__body
                .ibg.bg
                  img(src="assets/img/news/news-2.webp",alt="news-1")
                .news-left-card__text Животные
                .news-left-card__title  Вы только посмотрите: какие милые щеночки!
                .news-left-card__notes  12 августа 2020 г.
            .news-left__card.news-left-card
              .news-left-card__body
                .ibg.bg
                  img(src="assets/img/news/news-3.webp",alt="news-1")
                .news-left-card__text Ремонт дома
                .news-left-card__title  В чём сила, брат? В правильном  подборе плинтуса!
                .news-left-card__notes  12 августа 2020 г.
            .news-left__card.news-left-card
              .news-left-card__body
                .ibg.bg
                  img(src="assets/img/news/news-4.webp",alt="news-1")
                .news-left-card__text Сад и огород
                .news-left-card__title  Ферма лягушек: как лучше разводить земноводных?
                .news-left-card__notes  12 августа 2020 г.
            
        .news__right.news-right
          .news-right__body
            .news-right__img
              .ibg.bg
                img(src="assets/img/news/news-5.webp",alt="")
            .news-right__title  Жилой комплекс Королевский
            .news-right__text Квартиры от 2 300 000 <span class="icon-rouble"></span>
            button.btn--success.news-right__button(type='button') Смотреть предложения

