section#opinion.sale.sale--opinion  
    .container.container--sale
      .sale__body
        h2.title Мнение эксперта
        ul.sale__filter.sale__filter--opinion.sale-filter
            - 
              items = [
                  {title: "Мнение эксперта"},
                  {title: "Интервью"},
              ]
            each item in items
              li.sale-filter__item.sale-filter__item--opinion
                .sale-filter__title=item.title
      
      .sale__cards.sale__cards_opinion.scroll-lg.scroll-lg--opinion
        .sale__card.sale__card_opinion.opinion-card
          a.cover-link.cover-link--opinion(href="#!")
            img.opinion-card__img(src="assets/img/opin/opin-1.webp",alt="opin-1")
            .opinion-card__right
              .opinion-card__title Ольга Терентьева
              .opinion-card__text  Эксперт по операциям с недвижимостью, юрист по   безопасным   сделкам
              .opinion-card__content Как изменилась работа риелтора во время  самоизоляции
              .opinion-card__notes
                .opinion-card__note
                  .opinion-card__note-text 18 часов назад
                .opinion-card__note.opinion-card__note--time
                  i.icon-message-square
                  .opinion-card__note-text 0
                .opinion-card__note.opinion-card__note--look
                  i.icon-eye
                  .opinion-card__note-text 0
        .sale__card.sale__card_opinion.opinion-card
          a.cover-link.cover-link--opinion(href="#!")
            img.opinion-card__img(src="assets/img/opin/opin-2.webp",  alt="opin-1")
            .opinion-card__right
              .opinion-card__title Александр Савкин
              .opinion-card__text  Методолог и автор книг по продаже  недвижимости, тренер  агентов-миллионеров
              .opinion-card__content Зарплата риелтора - какими   навыками должен обладать   агент, чтобы зараба...
              .opinion-card__notes
                .opinion-card__note
                  .opinion-card__note-text 18 часов назад
                .opinion-card__note.opinion-card__note--time
                  i.icon-message-square
                  .opinion-card__note-text 0
                .opinion-card__note.opinion-card__note--look
                  i.icon-eye
                  .opinion-card__note-text 0

      button.btn.btn--success.sale__button--opinion(type='button') Перейти в раздел






