section#present.present
    .container
      .present__body
        .present__item.present-item(style="background-image: url('/assets/img/calc/calc.webp')")
            .present-item__text 2-комнатные  
            .present-item__text квартиры на Горском
            .present-item__text от 2,5 млн. <span class="icon-rouble"></span>
        .present__item.present-item(style="background-image: url('/assets/img/calc/calc.webp')")
            .present-item__text 2-комнатные  
            .present-item__text квартиры на Горском
            .present-item__text от 2,5 млн. <span class="icon-rouble"></span>
        .present__item.present-item(style="background-image: url('/assets/img/calc/calc.webp')")
            .present-item__text 2-комнатные  
            .present-item__text квартиры на Горском
            .present-item__text от 2,5 млн. <span class="icon-rouble"></span>

