section#revieves.sale.sale--revieves
    .container.container--sale
      .sale__body
        h2.title Отзывы о компаниях
        ul.sale__filter.sale-filter.sale__filter--revieves
            - 
              items = [
                  {title: "Банки"},
                  {title: "Страховые компании"},
                  {title: "Агентства недвижимости"},
                  {title: "Застройщики"},
              ]
            each item in items
              li.sale-filter__item
                .sale-filter__title=item.title
        .sale__select.sale__select--revieves
          select.select
            option( value='Квартира' disabled ) Квартира
            option(value='Комната') Комната
            option(value='Загородная') Загородная
            option(value='Коммерческая') Коммерческая

      .sale__slider.slider
        .slider__arrows
          i.slider__arrow.slider__arrow_prev.icon-chevron-left.slider__arrow_prev--revieves
          i.slider__arrow.slider__arrow_next.icon-chevron-right.slider__arrow_next--revieves
        ul.slider__body.slider-revieves-js.sale-scroll.sale__scroll.sale-scroll.sale__scroll--revieves.scroll-lg
          - 
            slides = [
                {
                  text:"Райффайзен Банк", 
                  title: "Благодарность специалисту Светлане",
                  rev: "Я хочу выразить благодарность специалисту Светлане, которая работала с моим обращением в чате 23.09.20 примерно в 00:00..."
                    }, 
                {
                   text:"Тинькофф Банк",
                   title:"Довольна всем", 
                   rev: "Оперативно и быстро продлили страхование, разъяснили все чётко и понятно. Компанией довольна и буду рекомендовать!"
                },
                { text:"ЛокоБанк",
                title:"Необоснованная блокировка счета! Остановка работы...", 
                rev: "Добрый вечер. Приобрели готовую компанию с расчетным счетом в Банке «Тинькофф». Переоформили быстро, приехал представитель..."
                },
                { text:"ЛокоБанк",
                title:  "Необоснованная блокировка счета! Остановка работы...",
                 rev: "Добрый вечер. Приобрели готовую компанию с расчетным счетом в Банке «Тинькофф». Переоформили быстро, приехал представитель..."
                },
                {
                  text:"Райффайзен Банк", 
                  title: "Благодарность специалисту Светлане",
                  rev: "Я хочу выразить благодарность специалисту Светлане, которая работала с моим обращением в чате 23.09.20 примерно в 00:00..."
                    }, 
                {
                   text:"Тинькофф Банк",
                   title:"Довольна всем", 
                   rev: "Оперативно и быстро продлили страхование, разъяснили все чётко и понятно. Компанией довольна и буду рекомендовать!"
                },
                { text:"ЛокоБанк",
                title:"Необоснованная блокировка счета! Остановка работы...", 
                rev: "Добрый вечер. Приобрели готовую компанию с расчетным счетом в Банке «Тинькофф». Переоформили быстро, приехал представитель..."
                },
                { text:"ЛокоБанк",
                title:  "Необоснованная блокировка счета! Остановка работы...",
                 rev: "Добрый вечер. Приобрели готовую компанию с расчетным счетом в Банке «Тинькофф». Переоформили быстро, приехал представитель..."
                }
              ]
          each item in slides
            li.slider__item.card-revieves.sale-scroll__item.sale-scroll__item--revieves
              a.cover-link.cover-link--revieves(href="#!")
                .card-revieves__text=item.text
                .card-revieves__stars.card-revieves-stars
                  .card-revieves-stars__star.icon-star-full
                  .card-revieves-stars__star.icon-star-full
                  .card-revieves-stars__star.icon-star-full
                  .card-revieves-stars__star.icon-star-full
                  .card-revieves-stars__star.icon-star-full
                .card-revieves__title=item.title
                .card-revieves__rev=item.rev
                .card-revieves__person
                  img.card-revieves__avatar(src="assets/img/rev/rev-1.png",alt="img")
                  .card-revieves__text.card-revieves__text--person Chernovskaya19




                  