section#sale.sale
    .container.container--sale
      .sale__body
        h2.title Продажа
        ul.sale__filter.sale-filter
            li.sale-filter__item.sale-filter__item_lg
              .sale-filter__title ЖК
            li.sale-filter__item.sale-filter__item_xl
              .sale-filter__title Жилые комплексы
            - 
              items = [
                  {title: "Квартиры"},
                  {title: "Комнаты"},
                  {title: "Загородная"},
                  {title: "Коммерческая"}
              ]
            each item in items
              li.sale-filter__item
                .sale-filter__title=item.title
        .sale__select
          select.select
            option( value='Квартиры' disabled ) Квартиры
            option(value='Комнаты') Комнаты
            option(value='Загородная') Загородная
            option(value='Коммерческая') Коммерческая
     
      .sale__slider.slider
        .slider__arrows
          i.slider__arrow.slider__arrow_prev.icon-chevron-left.slider__arrow_prev--sale
          i.slider__arrow.slider__arrow_next.icon-chevron-right.slider__arrow_next--sale
        
        ul.slider__body.slider-sale-js.sale-scroll.sale__scroll
          - 
            slides = [
                { text:"Город-парк Ясный Берег", img:"assets/img/sale/img-4.webp"},
                { text:"Расцветай на Ядрицевской", img:"assets/img/sale/img-2.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-3.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-2.webp"},
                { text:"Город-парк Ясный Берег", img:"assets/img/sale/img-4.webp"},
                { text:"Расцветай на Ядрицевской", img:"assets/img/sale/img-2.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-3.webp"},
                { text:"Алхимово", img:"assets/img/sale/img-2.webp"}
            ]
          each item in slides
            li.slider__item.card-object.sale-scroll__item
              a.cover-link(href="#!")
              img.card-object__img(src=item.img,alt="img")
              .card-object__title=item.text
              .card-object__text 
                span от 2 350 000 
                span.icon-rouble
              .card-object__properties
                .card-object__property.card-object__property--metro
                  img(src="assets/img/sale/metro.svg",alt="img")
                  .card-object__property-text Ленинский проспект
                .card-object__property.card-object__property--bus
                  img(src="assets/img/sale/bus.svg",alt="img")
                  .card-object__property-text.card-object__property-text_grey 5 мин.