//- подключаем везде
section#stock.news.stock
  .news__wrapper
    .container
      h2 Биржа услуг
      .news__body
        
        .news__left.news-left
          .news-left__body
            .news-left__card.news-left-card
              .news-left-card__body
                .news-left-card__title Перевозка груза из Новосибирска в Калининград
                .news-left-card__text Задача
                .news-left-card__notes  Необходимо сделать редизайн 2-х страниц сайта ( url - магазин.иномарка18.рф ) в 3-х разрешениях (компьютер, планшет, телефон).  Итого требуется 6 макетов. Суть - добавить новый блок (метку) для товара, чтобы он гармонично вписался в сайт. ТЗ - во вложении.
                .news-left-card__info.news-info
                  .news-info__body
                    .news-info__icon.icon-message-square
                    .news-info__text  37 ответов
                    .news-info__icon.icon-eye
                    .news-info__text  7 просмотров
                    .news-info__text  15 часов назад
                    .news-info__text_green  Активна
            .news-left__card.news-left-card
              .news-left-card__body
                .news-left-card__title Перевозка груза из Новосибирска в Калининград
                .news-left-card__text Задача
                .news-left-card__notes  Необходимо сделать редизайн 2-х страниц сайта ( url - магазин.иномарка18.рф ) в 3-х разрешениях (компьютер, планшет, телефон).  Итого требуется 6 макетов. Суть - добавить новый блок (метку) для товара, чтобы он гармонично вписался в сайт. ТЗ - во вложении.
                .news-left-card__info.news-info
                  .news-info__body
                    .news-info__icon.icon-message-square
                    .news-info__text  37 ответов
                    .news-info__icon.icon-eye
                    .news-info__text  7 просмотров
                    .news-info__text  15 часов назад
                    .news-info__text_green  Активна
            button.btn--success(type='button')  Смотреть все задания

       
            
        .news__right.news-right
          .news-right__body
            .ibg.bg
              img(src="assets/img/stock/stock.webp",alt="stock")
            .news-right__title  Это реклама
            .news-right__text А это кресло «Эконика»  всего за 5 700<span class="icon-rouble"></span>

