//-------------.page-sale-filters--------------------------------
.page-sale-filters
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 16px 17px 0 20px
  padding: 16px 0 0 0
  @extend %card
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 0 0 0 0

  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.page-sale-filters__form--------------------------------
.page-sale-filters__form
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 17px 0 20px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.page-sale-filters__item--------------------------------
.page-sale-filters__item
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none

  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.page-sale-filters-item--------------------------------
.page-sale-filters-item
  +jucs
  
//---------------------------------------------
// sale-filter__item--page-sale--------------------------------
.sale-filter__item--page-sale
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 19px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-filter__item--page-sale-left --------------------------------
.sale-filter__item--page-sale-left 
  // +alic
  // +jucs
  // +jucb
  min-width:  87px
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-filter--page-sale--------------------------------
.sale-filter--page-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  height:38px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.page-sale-filters-item__part--------------------------------
.page-sale-filters-item__part
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 auto
  &:last-child
    // flex: 1 1 10%
    margin: 0 0 0 22px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.page-sale-filters__selects--------------------------------
.page-sale-filters__selects
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 20%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  margin: 20px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-selects--------------------------------
.filters-selects
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @extend %card
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-selects__select--------------------------------
.filters-selects__select
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 auto
  // margin: 0 0 0 0
  // padding: 0 0 0 
  .select
    border: none
  .new-select
    padding: 9px  70px 9px 20px	
    border: none
    border-right: 1px solid #ECECEC
  .new-select__list
    top:50px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.filters-selects__adress--------------------------------
.filters-selects__adress
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 1 1 auto
  
  // padding: 0 0 0 0
  position: relative
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-selects-adress--------------------------------
.filters-selects-adress
  +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  input
    +pro
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.filters-selects-metro--------------------------------
.filters-selects-metro
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  +absolute( 51px, 20px, 50%,  85%,  null,0,-50%)
  font-weight: normal
  color: $company
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.filters-selects__button--------------------------------
.filters-selects__button
  // +alic
  // +jucs
  // +jucb
  width:168px
  height:50px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  border-top-left-radius: 0px
  border-bottom-left-radius: 0px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat--------------------------------
.flat
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 50px 0 0 0
  // padding: 0 0 0 0
  &:last-of-type
    margin: 50px 0 50px 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat__title--------------------------------
.flat__title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0 20px 0
  font-size: 20px
  line-height: 23px
  color: #181818
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat__line--------------------------------
.flat__line
  +alie
  +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  margin: 0 0 30px
  // padding: 0 0 0 0
  &:last-child
    margin: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat__divide--------------------------------
.flat__divide
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 31.5%
  margin: 0 20px 0 0
  &:last-child
    margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.flat__divide_short--------------------------------
.flat__divide_short
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 28.3%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.flat-divide_notitle--------------------------------
.flat-divide_notitle
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 30px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.flat-divide--------------------------------
.flat-divide
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat-divide__title--------------------------------
.flat-divide__title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat-divide__inputs--------------------------------
.flat-divide__inputs
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  flex: 0 1 100%
  margin: 10px 0 0 0
  // padding: 0 0 0 0
  @extend %card


  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat-divide__input--------------------------------
.flat-divide__input
  // +alic
  // +jucs
  // +jucb
  // width:
  height:36px
  flex: 0 1 42%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  position: relative
  border-right: 1px solid #ECECEC
  &:not(:first-child)
    flex: 1 1 42%
    border-right: none
  input
    font-weight: normal
    color: #9E9E9E
    +pro 
    border-radius: 5px 
  span
    font-weight: normal
    +absolute( 20px, 20px, 50%,  80%,  null,0,-50%)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.flat-divide__input_long--------------------------------
.flat-divide__input_long
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 47%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-filter__item--flat--------------------------------
.sale-filter__item--flat
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  @extend %card
  margin: 0 10px 0 0
  // padding: 0 0 0 0
  &:last-child
    margin: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.flat__flor--------------------------------
.flat__flor
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 10px 0 0 0
  // padding: 0 0 0 0
  border: none
  
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------------.sale-filter__title--------------------------
.flat-line__title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------__divide--------------------------------
.flat-line__divide
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 20px 0 0
  &:last-child
    margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-filter__item--flat--------------------------------
.sale-filter__item--flat
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  &:last-child
    border-right: 1px solid #ECECEC
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat-divide__input--house--------------------------------
.flat-line__input
  // +alic
  // +jucs
  // +jucb
  // width:
  height:36px
  // flex: 0 1 100%
  margin: 17px 0 0 0
  // padding: 0 0 0 0
  border: 1px solid #ECECEC
  border-radius: 5px
  position: relative
  input
    border: none
    +pro
    border-radius: 5px
    &::-webkit-input-placeholder
      color: #9E9E9E
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.flat-line__divide--house--------------------------------
.flat-line__divide--house
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 45.5%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat-line__img--------------------------------
.flat-line__img
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  +absolute( 36px, 100%, 0%,  null,  0,0,0)
  +center
  +bg($bej)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.flat__flor_house--------------------------------
.flat__flor_house
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  border: 1px solid #ECECEC
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer--------------------------------
.filters-footer
  +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 22px 17px  20px 20px
  border-top: 1px solid #ECECEC
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__rollup--------------------------------
.filters-footer__rollup
  +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: #586EB6
  i
    margin: 0 0 0 10px
    font-size: 20px
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__discharge--------------------------------
.filters-footer__discharge
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 5px
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: #9E9E9E
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__save--------------------------------
.filters-footer__save
  +center
  width:140px
  height:38px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @extend %card
  font-weight: normal
  .icon-heart1
    color: #7ab764
    font-size: 24px
    margin: 0 20px 0 0
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__look--------------------------------
.filters-footer__look
  +center
  width:200px
  height:38px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @extend %card
  font-weight: normal
  &:hover
    cursor: pointer
  .icon-location2
    font-size: 20px
    color: #f05650
    margin: 0 20px 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__button--------------------------------
.filters-footer__button
  // +alic
  // +jucs
  // +jucb
  width:237px
  height:38px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------


//-------------.page-sale-filters__form-lp--------------------------------
.page-sale-filters__form-lp
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  display: none
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  +jucb
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-form-lp--------------------------------
.sale-form-lp
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-form-lp__text--------------------------------
.sale-form-lp__text
  // +alic
  +jucc
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  padding: 20px 0 20px 0
  position: relative
  font-weight: normal
  color: #000000
  border-bottom: 1px solid #ECECEC
  i
    font-size: 24px
    +absolute( 20px, 20px, 50%,  null,  34px,0,-50%)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.sale-form-lp__buttons--------------------------------
.sale-form-lp__buttons
  // +alic
  // +jucs
  
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  @media (max-width: 1199px)
    flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    +jucb
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-form-lp__button--------------------------------
.sale-form-lp__button
  // +alic
  // +jucs
  // +jucb

  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    width:408px
    height:50px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-form-lp__look--------------------------------
.sale-form-lp__look
  // +alic
  // +jucs
  
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    +center
    width: 270px
    height: 50px
    border: 1px solid #ECECEC
    border-radius: 5px
    span
      font-weight: normal
      font-size: 16px
      line-height: 19px
    i
      color: #f05650
      font-size: 20px
      margin: 0 16px 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------