
//------.sale-filters--------
.sale-filters
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @extend %card
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

// filters-headerfilters-headerfilters-headerfilters-headerfilters-headerfilters-header
.sale-filters__header
//------.sale-filters-header--------
.sale-filters-header
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 16px 20px  0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.sale-filters-header__nav--------
.sale-filters-header__nav
  // +alic
  +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.sale-filter__item--sale-filters--------
.sale-filter__item--sale-filters
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 11px 20px
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.sale-filters-header__sale-filter--------
.sale-filters-header__sale-filter
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 20px 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//-------------.page-sale-filters__selects--------------------------------
.page-sale-filters__selects
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 20%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  margin: 20px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-selects--------------------------------
.filters-selects
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @extend %card
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-selects__select--------------------------------
.filters-selects__select
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 auto
  // margin: 0 0 0 0
  // padding: 0 0 0 
  .select
    border: none
  .new-select
    padding: 9px  70px 9px 20px	
    border: none
    border-right: 1px solid #ECECEC
  .new-select__list
    top:50px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.filters-selects__adress--------------------------------
.filters-selects__adress
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 1 1 auto
  
  // padding: 0 0 0 0
  position: relative
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-selects-adress--------------------------------
.filters-selects-adress
  +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  input
    +pro
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.filters-selects-metro--------------------------------
.filters-selects-metro
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  +absolute( 51px, 20px, 50%,  null, 20px,0,-50%)
  font-weight: normal
  color: $company
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 
    
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.filters-selects__button--------------------------------
.filters-selects__button
  // +alic
  // +jucs
  // +jucb
  width:168px
  height:50px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  border-top-left-radius: 0px
  border-bottom-left-radius: 0px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//------.sale-filters-header__data--------
.sale-filters-header__data
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  margin: 20px 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 0 0 0 
// конец header конец headerконец headerконец headerконец headerконец headerконец header
  


















  
  // //-------------.page-sale-filters--------------------------------
// .page-sale-filters
//   // +alic
//   // +jucs
//   // +jucb
//   // width:
//   // height:
//   // flex: 0 1 100%
//   // margin: 0 0 0 0
//   // padding: 16px 17px 0 20px
//   padding: 16px 0 0 0
//   @extend %card
//   @media (max-width: 1199px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     padding: 0 0 0 0
//     min-height: 100vh

//   @media (max-width: 767px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
// //---------------------------------------------
// //-------------.page-sale-filters__form--------------------------------
// .page-sale-filters__form
//   // +alic
//   // +jucs
//   // +jucb
//   // width:
//   // height:
//   // flex: 0 1 100%
//   // margin: 0 0 0 0
//   padding: 0 17px 0 20px
//   @media (max-width: 1199px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
//     display: none
//   @media (max-width: 767px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
// //---------------------------------------------


// // .sale-form
// // .sale-form
// // .sale-form
// // .sale-form
// // .sale-form


// //-------------.sale-form__nav--------------------------------
// //-------------.sale-form__nav--------------------------------
// //-------------.sale-form__nav--------------------------------
// .sale-form__nav
//   // +alic
//   // +jucs
//   // +jucb
//   // width:
//   // height:
//   // flex: 0 1 100%
//   // margin: 0 0 0 0
//   // padding: 0 0 0 0
//   // position: relative
//   @media (max-width: 1199px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
//   @media (max-width: 767px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
// //---------------------------------------------
// //-------------.sale-form-nav--------------------------------
// .sale-form-nav
//   // +alic
//   +jucs
//   // +jucb
//   // width:
//   // height:
//   // flex: 0 1 100%
//   // margin: 0 0 0 0
//   // padding: 0 0 0 0
//   // position: relative
//   @media (max-width: 1199px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
//   @media (max-width: 767px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
// //---------------------------------------------
// //-------------.sale-form-nav__part--------------------------------
// .sale-form-nav__part
//   // +alic
//   // +jucs
//   // +jucb
//   // width:
//   // height:
//   // flex: 0 1 100%
//   margin: 0 20px 0 0
//   &:last-child
//     margin: 0 0 0 0
//   // padding: 0 0 0 0
//   // position: relative
//   @media (max-width: 1199px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
//   @media (max-width: 767px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
// //--------


// //------.sale-filter__item--form--------
// .sale-filter__item--form
//   // +alic
//   // +jucs
//   // +jucb
//   // width:
//   // height:
//   // flex: 0 1 100%
//   // margin: 0 0 0 0
//   padding: 11px 21px
//   // position: relative
//   @media (max-width: 1199px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
//   @media (max-width: 767px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
// //-------------






// .sale-filters__footer.sale-filters__footer.sale-filters__footer.sale-filters__footer.sale-filters__footer
.sale-filters__footer
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 50px 0 0 0
  // padding: 0 0 0 0
  // position: relative
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
.filters-footer
  +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 22px 17px  20px 20px
  border-top: 1px solid #ECECEC
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__rollup--------------------------------
.filters-footer__rollup
  +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: #586EB6
  i
    margin: 0 0 0 10px
    font-size: 20px
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__discharge--------------------------------
.filters-footer__discharge
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 5px
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: #9E9E9E
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__save--------------------------------
.filters-footer__save
  +center
  width:140px
  height:38px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @extend %card
  font-weight: normal
  .icon-heart1
    color: #7ab764
    font-size: 24px
    margin: 0 20px 0 0
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__look--------------------------------
.filters-footer__look
  +center
  width:200px
  height:38px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @extend %card
  font-weight: normal
  &:hover
    cursor: pointer
  .icon-location2
    font-size: 20px
    color: #f05650
    margin: 0 20px 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.filters-footer__button--------------------------------
.filters-footer__button
  width:237px
  height:38px
  @media (min-width: 1200px)and (max-width: 1500px)
    flex: 0 1 350px
    margin: 20px auto
    


//---------------------------------------------



