//-------------.header-main--sale--------------------------------
.header-main--sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 768px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.header-main__button--page-sale--------------------------------
.header-main__button--page-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  margin: 0 0 0 auto
  padding: 11px 24px 
  +bg($salat)
  // +font-family(  roboto-medium,normal,15px,18px,$active)
  font-weight: normal
  color: $active
  @include media-breakpoint-down(xl)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 768px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.header-nav__link--page-sale--------------------------------
.header-nav__link--page-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 40px 5px
  @include media-breakpoint-down(xl)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 768px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.header-main__button--page-sale--------------------------------
.header-main__button--page-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 0 0 31px
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 768px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.header-main__button--success--page-sale--------------------------------
.header-main__button--success--page-sale
  margin: 0 0 0 45px
  @media  (min-width: 1200px)and (max-width: 1500px)
    margin: 0 0 0 13px
    height: 40px
    width: 200px
    font-size: 13px
    .icon-plus
      margin: 0 5px 0 0

.header-main__logo--page-sale
  @media (min-width: 1200px)and (max-width: 1500px)
    margin: 0 13px 0 0
    width: 115px
    height: 30px

.header-main__button--page-sale
  @media (min-width: 1200px)and (max-width: 1500px)
    margin: 0 0 0 10px
    font-size: 13px

.header-nav__link--page-sale
  @media (min-width: 1200px)and (max-width: 1500px)
    font-size: 13px