//-------------.content-sale--------------------------------
.content-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  +bg($fone)
  padding: 30px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__body--------------------------------
.content-sale__body
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale__left--------------------------------
.content-sale__left
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 1 1 40%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale__vidgets--------------------------------
.content-sale__vidgets
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 23%
  margin: 0 0 0 34px
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__vidget--------------------------------
.content-sale__vidget
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  @extend %card
  margin: 0 0 30px 0
  &:last-child
    margin: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.news-right__title--content-sale--------------------------------
.news-right__title--content-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 22px 18px 14px
  font-size: 18px
  line-height: 140%
  color:  $company
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.news-right__text--content-sale--------------------------------
.news-right__text--content-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 5px 0 17px
  font-size: 15px
  font-weight: normal
  line-height: 140%
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale__button--------------------------------
.content-sale__button
  // +alic
  // +jucs
  // +jucb
  width:200px
  height:45px
  // flex: 0 1 100%
  margin: 20px auto
  // padding: 0 0 0 0
  line-height: 0%
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__badge--------------------------------
.content-sale__badge
  // +alic
  // +jucs
  // +jucb
  top: 9px
  right: 9px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__info--------------------------------
.content-sale__info
  // +alic
  +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 47px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__selector--------------------------------
.content-sale__selector
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__numbers--------------------------------
.content-sale__numbers
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

// =================================
// =================================
// =================================
//-------------.content-sale__cards--------------------------------
.content-sale__cards
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  margin: 20px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__card--------------------------------
.content-sale__card
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  
  // padding: 20px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------