//-------------.content-sale--------------------------------
.content-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  +bg($fone)
  padding: 30px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__body--------------------------------
.content-sale__body
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale__left--------------------------------
.content-sale__left
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 1 1 40%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__filters--------------------------------
.content-sale__filters

  @media (max-width: 1199px)
    position: fixed
    width: 100%
    overflow-y: auto
    top: 0
    left: 0
    height: calc(100%-80px)
    transition: all 0.3s ease-in-out
    transform: translate(-100%,0)
    +bg(white)
    z-index: 1000
    margin: 80px 0 0 0
  @media (max-width: 767px)
    margin: 56px 0 0 0
    height: calc(100%-56px)
//---------------------------------------------  

//-------------.content-sale__filters_active--------------------------------
.content-sale__filters_active
  @media (max-width: 1199px)
    transform: translate(0,0)
  @media (max-width: 767px)
//---------------------------------------------
//-------------.content-sale__vidgets--------------------------------
.content-sale__vidgets
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 23%
  margin: 0 0 0 34px
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__vidget--------------------------------
.content-sale__vidget
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  @extend %card
  margin: 0 0 30px 0
  &:last-child
    margin: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.news-right__title--content-sale--------------------------------
.news-right__title--content-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 22px 18px 14px
  font-size: 18px
  line-height: 140%
  color:  $company
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.news-right__text--content-sale--------------------------------
.news-right__text--content-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 5px 0 17px
  font-size: 15px
  font-weight: normal
  line-height: 140%
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale__button--------------------------------
.content-sale__button
  // +alic
  // +jucs
  // +jucb
  width:200px
  height:45px
  // flex: 0 1 100%
  margin: 20px auto
  // padding: 0 0 0 0
  line-height: 0%
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__badge--------------------------------
.content-sale__badge
  // +alic
  // +jucs
  // +jucb
  top: 9px
  right: 9px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__info--------------------------------
.content-sale__info
  +alic
  +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 47px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//---------------------------------------------
//-------------.content-sale__numbers--------------------------------
.content-sale__numbers
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  padding: 0 0 9px 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

// =================================
// =================================
// =================================
//-------------.content-sale__cards--------------------------------
.content-sale__cards
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // margin: 20px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale__card--------------------------------
.content-sale__card
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 0 30px 0
  &:last-child
    margin: 0 0 0 0
  // padding: 20px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale__selector--------------------------------
.content-sale__selector
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 23px 8px 0
  // padding: 0 0 0 0
  font-weight: normal
  .select
    background: transparent
    border: none
  .new-select
    width: 140px
    height: 40px
    font-weight: normal
    padding: 0 15px 0 0
  .new-select:after 
    width: 10px
    height: 10px
    right: 0px
      
  .new-select__list 
    top: 42px
    z-index: 20
    // padding: 0 15px 0 0	
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.bunners--page-sale--------------------------------
.bunners--page-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 20 0
  padding: 0 0 20px 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale__pagination--------------------------------
.content-sale__pagination
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale-pagination--------------------------------
.content-sale-pagination
  // +alic
  +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 40px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale-pagination__items--------------------------------
.content-sale-pagination__items
  // +alic
  +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale-pagination__item--------------------------------
.content-sale-pagination__item
  // +alic
  // +jucs
  +center
  width:40px
  height:40px
  // flex: 0 1 100%
  margin: 0 9px 0 0
  // padding: 0 0 0 0
  
  border-radius: 5px
  button
    background: #FFFFFF
    +pro
    font-weight: normal
    line-height: 140%
    color: #9E9E9E
    &.button-active
      +border(1px , darken($active,10%)!important)
      +bg(lighten($active,10%))
      box-shadow: 0px 0px 20px lighten($dark-1,60%)!important
      color: white
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale-pagination__button-next--------------------------------
.content-sale-pagination__button-next
  // +alic
  // +jucs
  // +jucb
  width:115px
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  background: #FFFFFF
  font-weight: normal
  line-height: 140%
  color: #9E9E9E
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale-pagination__button--------------------------------
.content-sale-pagination__button
  // +alic
  // +jucs
  // +jucb
  width:213px
  height:40px
  // flex: 0 1 100%
  margin: 0 0 0 auto
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.sale-nav--------------------------------
.sale-nav
  // +alic
  // +jucs
  display: none
  @media (max-width: 1199px)
    +jucb
    flex: 0 1 100%
    border-bottom: 1px solid #ECECEC
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-nav__item--------------------------------
.sale-nav__item
  @media (max-width: 1199px)
    height:100%
    +center
    font-weight: normal
    padding: 17px 0
    flex-grow: 1
    &:hover
      cursor: pointer
    i
      font-size: 20px
      margin: 0 15px 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-nav__filters-search --------------------------------
.sale-nav__item--filters-search 

  @media (max-width: 1199px)
    border-right: 1px solid #ECECEC
 
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.sale-nav__keep--------------------------------
.sale-nav__item--keep
  @media (max-width: 1199px)
    border-right: 1px solid #ECECEC
    i
      color: #7ab764
  @media (max-width: 767px)
    display: none
//---------------------------------------------
//-------------.sale-nav__location--------------------------------
.sale-nav__item--location
  @media (max-width: 1199px)
    i
      color: #f05650
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

