section#modal-foget.modal-enter
      form.modal-enter__body
        h2.modal-enter__title Забыли пароль?
        .modal-enter__text Чтобы восстановить пароль, введите свой номер телефона ниже и следуйте инструкциям по сбросу 
        .modal-enter__input.modal-enter-input
            label(for="phone").modal-enter-input__label.modal-enter-input__label--forget Номер телефона
            input#phone(type="text" placeholder="+7 (000) 000-00-00" name="password").modal-enter-input__input
        button.btn.btn--success.modal-enter__button.modal-enter__button--forget.fancybox(type='button' href="#modal-ready") Продолжить