section#modal-safe.modal-enter.modal-enter--safe
      form.modal-enter__body
        h2.modal-enter__title Отлично
        .modal-enter__text.modal-enter__text--safe Вы успешно сменили пароль. Осталось только запомнить его!
        img.modal-enter__img(src="assets/img/lock.webp",alt="img")