section#modal-choice.modal-enter.modal-enter--choice
      form.modal-enter__body.modal-enter__body--choice
        h2.modal-enter__title.modal-enter__title--choice Выберите регион или город
        .modal-enter__header.modal-enter-header
          input#choice(type="text" placeholder="Например: Московская область" name="choice").modal-enter-header__input
          button.btn.btn--success.modal-enter-header__button(type='button') Выбрать

        .modal-enter__cities.modal-enter-cities
          h3.modal-enter-cities__title Популярные города
          ul.modal-enter-cities__buttons
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Москва
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Санкт-Петербург
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Екатеринбург
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Новосибирск
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Нижний Новгород
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Сочи
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Краснодар
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Красноярск
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Казань
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Уфа
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Волгоград
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Воронеж
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Ярославль
            li
              button.btn.btn--success.modal-enter-cities__button(type='button') Владивосток

        //- .modal-enter__input.modal-enter-input
        //-     label(for="login").modal-enter-input__label Пароль
        //-     input#password(type="text" placeholder="Введите пароль" name="password").modal-enter-input__input
        //- .modal-enter__buttons
        //-   button.btn.btn--success.modal-enter__button.modal-enter__button--continue(type='button') Продолжить
        //-   button.btn.btn--success.modal-enter__button.modal-enter__button--registration(type='button') Регистрация
        //- .modal-enter__or или
        //- ul.modal-enter__social.modal-enter-social
        //-   - 
        //-     items = [
        //-         { class: "icon-vk ", },
        //-         { class: "icon-odnoklassniki ", },
        //-         { class: "icon-twitter ", },
        //-         { class: "icon-facebook ", },
        //-         { class: "icon-email ", },
        //-         { class: "icon-google ", },
        //-       ]

        //-   each item in items
        //-     li
        //-       a(href="#!").modal-enter-social__item
        //-         i(class=item.class)
          
        //- a.fancybox(type='button' href="#modal-foget").modal-enter-item__forget Забыли пароль?
        //- .modal-enter-item__conditions 
        //-   span При входе и регистрации, вы принимаете условия 
        //-   a.modal-enter-item__condition.modal-enter-item__condition--agreement(href="#!")  Пользовательского соглашения
        //-   span и 
        //-   a.modal-enter-item__condition.modal-enter-item__condition--politics(href="#!")  Политики конфиденциальности
        
        //- .modal-enter__input.modal-enter-input
        //-     label(for="login").modal-enter-input__label Логин
        //-     input#login(type="text" placeholder="Введите логин" name="login").modal-enter-input__input
        //- .modal-enter__input.modal-enter-input
        //-     label(for="login").modal-enter-input__label Пароль
        //-     input#password(type="text" placeholder="Введите пароль" name="password").modal-enter-input__input
        //- .modal-enter__buttons
        //-   button.btn.btn--success.modal-enter__button.modal-enter__button--continue(type='button') Продолжить
        //-   button.btn.btn--success.modal-enter__button.modal-enter__button--registration(type='button') Регистрация
        //- .modal-enter__or или
        //- ul.modal-enter__social.modal-enter-social
        //-   - 
        //-     items = [
        //-         { class: "icon-vk ", },
        //-         { class: "icon-odnoklassniki ", },
        //-         { class: "icon-twitter ", },
        //-         { class: "icon-facebook ", },
        //-         { class: "icon-email ", },
        //-         { class: "icon-google ", },
        //-       ]

        //-   each item in items
        //-     li
        //-       a(href="#!").modal-enter-social__item
        //-         i(class=item.class)
          
        //- a.fancybox(type='button' href="#modal-foget").modal-enter-item__forget Забыли пароль?
        //- .modal-enter-item__conditions 
        //-   span При входе и регистрации, вы принимаете условия 
        //-   a.modal-enter-item__condition.modal-enter-item__condition--agreement(href="#!")  Пользовательского соглашения
        //-   span и 
        //-   a.modal-enter-item__condition.modal-enter-item__condition--politics(href="#!")  Политики конфиденциальности