section#modal-ready.modal-enter
      form.modal-enter__body
        h2.modal-enter__title Почти готово!
        .modal-enter__text Мы выслали пароль на Вашу почту. Введите его в форму ниже.
        .modal-enter__input.modal-enter-input
            label(for="phone").modal-enter-input__label.modal-enter-input__label--forget Новый пароль
            input#phone(type="text" placeholder="Введите" name="password").modal-enter-input__input
        button.btn.btn--success.modal-enter__button.modal-enter__button--forget(type='button') Сохранить пароль