.card-object-extended__right
  .card-object-extended__head-line
    .card-object-extended__flor 
      span  13 этаж из 17
      a(href="#!").icon-heart1.icon-like-green
    .card-object-extended__header  1-комнатная, 36м²
    img.extended-slider-item__icon--lp(src="assets/img/content-sale/Vector.svg",alt="img")
    .card-object-extended__price от 128 000 ₽/м²
    span.card-object-extended__sub-price от 2 340 000 ₽, от 57 891 ₽ за м²
  
  
  
  .card-object-extended__adress  Улица Серафимовича, 18
  .card-object-extended__adress  13 этаж из 17
  
  .card-object-extended__properties.properties
    .properties__property.property
      img.property__img.property__img--metro(src='assets/img/sale/metro.svg' alt='img')
      span.property__text Сибирская
    .properties__property.property
      img.property__img.property__img--bus(src='assets/img/sale/bus.svg' alt='img')
      span.property__text.property__text--bus 5 мин.
    .properties__property.property
      span.property__count +2
 
  .card-object-extended__text   
    | Cдам ЛИЧHO уютную квартиру на 13 этаже с современным
    | ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес:
    | улица Добролюбова 162/1 5 минут от метро Золотая
    | Нива
  .card-object-extended__person.card-object-person
    a(href="#!").card-object-extended__avatar
      img(src="assets/img/content-sale/avatar.webp",alt="avatar")
    a(href="#!").card-object-extended__name  Ксения
    a(href="#!").card-object-extended__time  5 часо
  .card-object-extended__info.card-object-extended-info
    button.btn.btn--success.btn--success-icon.card-object-extended-info__button(type='button')
      span.icon-phone
      span +7 (913) 834-22-45
    a(href="#!").card-object-extended-info__property
      i.card-object-extended-info__like.icon-like-green.icon-heart1
      .card-object-extended-info__text В избранное
    a(href="#!").card-object-extended-info__property
      i.card-object-extended-info__location.icon-location-red.icon-location2
    a(href="#!").card-object-extended-info__property
      i.card-object-extended-info__cross.icon-cross.icon-x
    a(href="#!").card-object-extended-info__property
      i.card-object-extended-info__link.icon-link.icon-copy
.card-object-extended__footer.card-object-extended-footer
  .card-object-extended-footer__properties.properties
    .properties__property.property
      img.property__img.property__img--metro(src='assets/img/sale/metro.svg' alt='img')
      span.property__text Площадь Ленина
    .properties__property.property
      img.property__img.property__img--bus(src='assets/img/sale/bus.svg' alt='img')
      span.property__text.property__text--bus 5 мин.
  .card-object-extended-footer__properties.properties
    .properties__property.property
      img.property__img.property__img--metro(src='assets/img/sale/metro.svg' alt='img')
      span.property__text Октябрьская
    .properties__property.property
      img.property__img.property__img--bus(src='assets/img/sale/walk.svg' alt='img')
      span.property__text.property__text--bus 3 мин.
  .card-object-extended-footer__properties.properties
    .properties__property.property
      span.property__text Улица Гоголя, 15
button.btn.btn--card-object-extended.btn--success(type='button').card-object-extended__button-low Позвонить