.content-sale__card.card-object-extended
                .extended-slider__arrows.extended-slider-arrows
                  i.extended-slider-arrows__arrow.extended-slider-arrows__arrow_prev.extended-slider-2-arrows__arrow_prev.icon-chevron-left
                  i.extended-slider-arrows__arrow.extended-slider-arrows__arrow_next.extended-slider-2-arrows__arrow_next.icon-chevron-right 
                .card-object-extended__slider.extended-slider.extended-slider-2-js
                    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-2.webp')") .
                        .extended-slider-item__bunner
                          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
                          .extended-slider-item__text-bunner  -20%
                    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-2.webp')") .
                        .extended-slider-item__bunner
                          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
                          .extended-slider-item__text-bunner  -20%
                    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-2.webp')") .
                        .extended-slider-item__bunner
                          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
                          .extended-slider-item__text-bunner  -20%
                    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-2.webp')") .
                        .extended-slider-item__bunner
                          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
                          .extended-slider-item__text-bunner  -20%
                    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-2.webp')") .
                        .extended-slider-item__bunner
                          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
                          .extended-slider-item__text-bunner  -20%
                .card-object-extended__right
                  .card-object-extended__head-line
                    .card-object-extended__header  1-комнатная, 36м²
                    .card-object-extended__price 14 900 000 <span class="icon-rouble"></span>
                  .card-object-extended__price-per 108 285&nbsp; <span class="icon-rouble"></span> &nbsp; за м²
                  .card-object-extended__adress  Улица Серафимовича, 18
                  .card-object-extended__adress  13 этаж из 17
                  .card-object-extended__properties.card-object-extended-properties
                      img(src="assets/img/sale/metro.svg",alt="metro").card-object-extended-properties__property.card-object-extended-properties__property--metro-icon

                      .card-object-extended-properties__property.card-object-extended-properties__property--metro-text Сибирская

                      img(src="assets/img/sale/bus.svg",alt="img").card-object-extended-properties__property.card-object-extended-properties__property--time-icon

                      .card-object-extended-properties__property.card-object-extended-properties__property--time-text 5 мин.
                      .card-object-extended-properties__property.card-object-extended-properties__property--count +2
                  .card-object-extended__text   
                    | Cдам ЛИЧHO уютную квартиру на 13 этаже с современным
                    | ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес:
                    | улица Добролюбова 162/1 5 минут от метро Золотая
                    | Нива
                  .card-object-extended__person
                    img.card-object-extended__avatar(src="assets/img/content-sale/team_02.webp",alt="team_02")
                    .card-object-extended__name  Ксения
                    .card-object-extended__time  5 часов назад

                  .card-object-extended__info.card-object-extended-info
                    button.btn.btn--success.btn--success-icon.card-object-extended-info__button(type='button')
                      span.icon-phone
                      span +7 (913) 834-22-45
                    .card-object-extended-info__property
                      i.card-object-extended-info__like.icon-like-green.icon-heart1
                      .card-object-extended-info__text В избранное
                    .card-object-extended-info__property
                      i.card-object-extended-info__location.icon-location-red.icon-location2
                    .card-object-extended-info__property
                      i.card-object-extended-info__cross.icon-cross.icon-x
                    .card-object-extended-info__property
                      i.card-object-extended-info__link.icon-link.icon-copy