
.extended-slider__arrows.extended-slider-arrows
  i.extended-slider-arrows__arrow.extended-slider-arrows__arrow_prev.extended-slider-4-arrows__arrow_prev.icon-chevron-left
  i.extended-slider-arrows__arrow.extended-slider-arrows__arrow_next.extended-slider-4-arrows__arrow_next.icon-chevron-right 
.card-object-extended__slider.extended-slider-1.extended-slider-4-js
    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-4.webp')") 
        .extended-slider-item__bunner
          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
          span.extended-slider-item__text-bunner  -20%
    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-4.webp')") 
        .extended-slider-item__bunner
          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
          span.extended-slider-item__text-bunner  -20%
    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-4.webp')") 
        .extended-slider-item__bunner
          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
          span.extended-slider-item__text-bunner  -20%
    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-4.webp')") 
        .extended-slider-item__bunner
          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
          span.extended-slider-item__text-bunner  -20%
    .extended-slider__item.extended-slider-item(style="background-image: url('./assets/img/content-sale/img-4.webp')") 
        .extended-slider-item__bunner
          img.extended-slider-item__icon(src="assets/img/content-sale/Vector.svg",alt="img")
          span.extended-slider-item__text-bunner  -20%
                
                
include card-right