section#sale-nav.sale-nav
  .sale-nav__item.sale-nav__item--filters-search 
    i.icon-search
    span Фильтры
  .sale-nav__item.sale-nav__item--keep 
    i.icon-heart1
    span Сохранить
  .sale-nav__item.sale-nav__item--location
    i.icon-location2
    span На карте


section#content-sale.content-sale
      .content-sale__body.container.container--content-page-sale
        .content-sale__left
        
          .content-sale__filters
            include filters 
          .sale-link-top--sm  Купить квартиру в &nbsp;
            a(href="#!") Новосибирске
          .sale-link-search--sm Найдено 184 квартиры
          a(href="#!").sale-link-top  Купить 1,2-комнатную квартиру в новостройке в Новосибирской области
            i.icon-x
          a(href="#!").sale-link-back Назад
          .content-sale__info
            .content-sale__selector
                select.select
                  option(value='По актуальности' disabled ) По актуальности
                  option(value='По актуальности' ) По актуальности
                  option(value='По возрастанию цены') По возрастанию цены
                  option(value='По убыванию цены') По убыванию цены
                  option(value='По количеству комнат') По количеству комнат
                  option(value='Этаж') Этаж
             
            .content-sale__numbers  145 523 объявлений
          .content-sale__cards
            include card-1
            include card-2
        include vidgets
      section#bunners-page-sale.bunners.bunners--page-sale
            .container--content-page-sale
              .bunners__body
                .bunners__arrows.bunners-arrows
                  i.bunners-arrows__arrow.bunners-arrows__arrow_prev.icon-chevron-left
                  i.bunners-arrows__arrow.bunners-arrows__arrow_next.icon-chevron-right
                .bunners__slider.slider-bunners-js
                    - 
                        items = [
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                          { title: "ЖК Горский. От 7,5 млн. ",url:"assets/img/bunners.webp" },
                        ]
        
                    each item in items
                      .bunners__item.slider-bunners-item(style=`background-image: url(${item.url})`)
                        .slider-bunners-item__buttons
                          button.slider-bunners-item__button.slider-bunners-item__button_empty.btn.button--empty(type='button') Квартиры от 2млн.<span class="icon-rouble"></span>
                          button.slider-bunners-item__button.slider-bunners-item__button_empty.btn.button--empty(type='button')  м² от 130 т.р.
                          button.slider-bunners-item__button.slider-bunners-item__button_light(type='button').btn.btn--light  Реклама
                          button.slider-bunners-item__button.slider-bunners-item__button_cross--bunners(type='button').btn.btn--cross 
                            span Скрыть
                            i.icon-x
                          .line-small
        
                        .slider-bunners-item__small ГК «Самолёт»
                        .slider-bunners-item__title=item.title 
                          <span class="icon-rouble"></span> 
                        .slider-bunners-item__text  
                          p Старт продаж нового корпуса от 10 млн ₽. Ипотека 5,85%. 
                          p Рассрочка 0%. Панорамные виды на Останкинскую башню и Москву.
                        button.btn.btn--success.btn--success-icon.slider-bunners-item__button-order(type='button') 
                          span.icon-phone
                          span Заказать звонок
      .content-sale__body.container.container--content-page-sale
        .content-sale__left 


          .content-sale__cards
            include card-3
            .content-sale__card.card-object-extended
              include card-4
            .content-sale__advert-average.advert-average 
              .advert-average__body
                img(src="assets/img/content-sale/img-6.webp",alt="img").advert-average__img
                .advert-average__chip Реклама
                .advert-average__footer.advert-average-footer
                  button.btn.btn--success(type='button').advert-average-footer__button Смотреть квартиры
                  img(src="assets/img/content-sale/pik.webp",alt="img").advert-average-footer__img
                  .advert-average-footer__data
                    .advert-average-footer__logo--sm ПИК группа
                    .advert-average-footer__title ЖК Цветной Город
                    .advert-average-footer__text от 2 млн. ₽
            include card-5
            include card-6
            .content-sale__advert-mortgage.advert-mortgage.delete--sm 
              img(src="assets/img/content-sale/money.webp",alt="img").advert-mortgage__img
              .advert-mortgage__column
                .advert-mortgage__text Поможем вам сэкономить до <span>0,5%</span> на ставке по ипотеке
                button.btn.btn--success(type='button').advert-mortgage__button  Рассчитать ипотеку
        .content-sale__vidgets 
      .content-sale__body.container.container--content-page-sale.delete--sm
        .content-sale__left 
          .content-sale__pagination--arrows.pagination-arrows 
            .pagination-arrows__arrows
              .pagination-arrows__arrow.pagination-arrows__arrow_left
                i.icon-chevron-left
              .pagination-arrows__arrow.pagination-arrows__arrow_right
                i.icon-chevron-right
            button.btn.button--empty(type='button').pagination-arrows__button Показать ещё 32 объекта
          .content-sale__pagination.pagination
              ul.pagination__items
                li.pagination__item
                  button.btn.btn--light.button-active(type='button' )  1
                li.pagination__item
                  button.btn.btn--light(type='button')  2
                li.pagination__item
                  button.btn.btn--light(type='button')  3
                li.pagination__item
                  button.btn.btn--light(type='button')  4
                li.pagination__item
                  button.btn.btn--light(type='button')  5
              button.btn.btn--light(type='button').pagination__button-next Следующая
              button.btn.btn--success.pagination__button(type='button')  Показать еще 32 объекта
        .content-sale__vidgets
        


