section#content-sale.content-sale
      .content-sale__body.container.container--content-page-sale
        .content-sale__left 
          .content-sale__info
            .content-sale__selector По актуальности
            .content-sale__numbers  145 523 объявлений
          .content-sale__cards
            .content-sale__card.content-sale-card
                .content-sale-card__slider  .content-sale-card__slider
                .content-sale-card__right
                  .content-sale-card__head-line
                    .content-sale-card__header  1-комнатная, 36м²
                    .content-sale-card__price 14 900 000 <span class="icon-rouble"></span>
                  .content-sale-card__price-per 108 285&nbsp; <span class="icon-rouble"></span> &nbsp; за м²
                  .content-sale-card__adress  Улица Серафимовича, 18
                  .content-sale-card__adress  13 этаж из 17
                  .content-sale-card__properties.content-sale-card-properties
                      img(src="assets/img/sale/metro.svg",alt="metro").content-sale-card-properties__property.content-sale-card-properties__property--metro-icon

                      .content-sale-card-properties__property.content-sale-card-properties__property--metro-text Сибирская

                      img(src="assets/img/sale/bus.svg",alt="img").content-sale-card-properties__property.content-sale-card-properties__property--time-icon

                      .content-sale-card-properties__property.content-sale-card-properties__property--time-text 5 мин.
                      .content-sale-card-properties__property.content-sale-card-properties__property--count +2
                  .content-sale-card__text   
                    | Cдам ЛИЧHO уютную квартиру на 13 этаже с современным
                    | ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес:
                    | улица Добролюбова 162/1 5 минут от метро Золотая
                    | Нива
                  .content-sale-card__person
                    img.content-sale-card__avatar(src="assets/img/content-sale/team_02.webp",alt="team_02")
                    .content-sale-card__name  Ксения
                    .content-sale-card__time  5 часов назад

                  .content-sale-card__info.content-sale-card-info
                    button.btn.btn--success.btn--success-icon.content-sale-card-info__button(type='button')
                      span.icon-phone
                      span +7 (913) 834-22-45
                    .content-sale-card-info__property
                      i.content-sale-card-info__like.icon-like-green.icon-heart1
                      .content-sale-card-info__text В избранное
                    .content-sale-card-info__property
                      i.content-sale-card-info__location.icon-location-red.icon-location2
                    .content-sale-card-info__property
                      i.content-sale-card-info__cross.icon-cross.icon-x
                    .content-sale-card-info__property
                      i.content-sale-card-info__link.icon-link.icon-copy

        include vidgets
