.content-sale__vidgets  
          .content-sale__vidget.news-right
            .content-sale__badge.card-object-badge Реклама
            img.news-right__img.news-right__img--content-sale(src="assets/img/content-sale/content-sale-1.webp",alt="content-sale")
            .news-right__title.news-right__title--content-sale  ЖК Переулок Бульварный
            .news-right__text.news-right__text--content-sale 
              | Элитный комплекс с подземной парковкой. 5 минут до метро
              | «Октябрьская». Есть консьерж и бизнес-центр. Звоните.
            button.btn.btn--success.btn--success-icon.content-sale__button(type='button') 
              span.icon-phone
              span +7 (913) 834-22-45
          .content-sale__vidget.news-right
            .content-sale__badge.card-object-badge Реклама
            img.news-right__img.news-right__img--content-sale(src="assets/img/content-sale/content-sale-2.webp",alt="content-sale")
            .news-right__title.news-right__title--content-sale  ЖК Екатериновский
            .news-right__text.news-right__text--content-sale  10 минут пешком до вокзала. Рядом есть кафе и ТРЦ «Аура». Присутствует консьерж. Квартиры от 2 млн. ₽.
            button.btn.btn--success.btn--success-icon.content-sale__button(type='button') 
              span.icon-phone
              span +7 (913) 834-22-45
