extends ../layout/main
block header
  //- include ../modules/header
block content
  //- include ../modules/filter-lap
  //- include ../modules/categories
  //- include ../modules/look
  //- include ../modules/sale
  //- include ../modules/rent 
  //- include ../modules/advert 
  //- include ../modules/news
  include ../modules/garden
  include ../modules/opinion
  include ../modules/calc
  include ../modules/revieves
  include ../modules/advert-next
  include ../modules/present
  include ../modules/stock
  include ../modules/bunners
block footer
  include ../modules/footer
  