extends ../layout/main
block header
  //- include ../modules/header
block content
  //- include ../modules/filter-lap
  //- include ../modules/popups/popup-top-filter
  //- include ../modules/search
  //- include ../modules/buy

  //- include ../modules/categories

  //- include ../modules/garden-sm
  //- include ../modules/look
  //- include ../modules/sale
  //- include ../modules/rent 
  //- include ../modules/advert 
  //- include ../modules/news
  //- include ../modules/garden
  //- include ../modules/opinion
  //- include ../modules/calc
  //- include ../modules/garden-sm
  //- include ../modules/revieves
  //- include ../modules/advert-next
  //- include ../modules/present
  //- include ../modules/stock
  //- include ../modules/bunners
  include ../modules/popups/modal-enter
  include ../modules/popups/modal-forget
  include ../modules/popups/modal-ready
  include ../modules/popups/modal-safe


block footer
  include ../modules/footer


  