extends ../layout/main
block header
  include ../modules/includes/header-page-sale
block content
 

  //- include ../modules/bunners
  //- include ../modules/popups/modal-enter
  //- include ../modules/popups/modal-forget
  //- include ../modules/popups/modal-ready
  //- include ../modules/popups/modal-safe


block footer
  include ../modules/footer