extends ../layout/main
block header
  include ../modules/includes/header-page-sale
  include ../modules/includes/header-sidebar
block content
 

  include ../modules/page-viewing/page-viewing-inner
  include ../modules/popups/modal-enter
  include ../modules/popups/modal-forget
  include ../modules/popups/modal-ready
  include ../modules/popups/modal-safe


block footer
  .up_down_btn(title='Наверх') ↑
