.card-object-extended__right.card-object-extended__right--new
                  .card-object-extended__head-line.card-object-extended__head-line--new
                    .card-object-extended__header.card-object-extended__header--new ЖК Ясный
                    img.card-object-extended__icon.card-object-extended__icon--new(src="assets/img/content-sale/Vector.svg",alt="img")
                    .card-object-extended__price от 128 000 ₽/м²
                    span.card-object-extended__sub-price от 2 340 000 ₽, от 57 891 ₽ за м²
                  .card-object-extended__delivery  Сдача в 2021г.
                    i.icon-heart1.icon-like-green
                  .card-object-extended__properties.card-object-extended__properties--new.properties
                      .properties__property.property
                        img.property__img.property__img--metro(src='assets/img/sale/metro.svg' alt='img')
                        span.property__text Ленинский проспект
                  
                  .card-object-extended__adress.card-object-extended__adress--new  Видное, деревня Сапроново, ул. Центральная, д. 1
                  .card-object-extended__text.card-object-extended__text--new   
                    | ЖК «Ясный» расположен в Западном округе столицы, в районе Солнцево. Это новостройка комфорт-класса от застройщика ЛСР, компании с отличной репутацией. Комплекс находится в локации...
                  .card-object-extended__price-list.card-object-extended__price-list--new.price-list-new
                      .price-list-new__item.price-list-new-item
                        .price-list-new-item__title Студии
                        .price-list-new-item__price от 2 млн. ₽
                      .price-list-new__item.price-list-new-item
                        .price-list-new-item__title 1-комн.
                        .price-list-new-item__price от 2,5 млн. ₽
                      .more 
                        span Больше 
                        i.icon-chevron-down
                      .price-list-new__item.price-list-new-item
                          .price-list-new-item__title 2-комн.
                          .price-list-new-item__price от 5,6 млн. ₽
                      .price-list-new__item.price-list-new-item
                          .price-list-new-item__title 3-комн.
                          .price-list-new-item__price от 9,8 млн. ₽
                      .price-list-new__item.price-list-new-item
                          .price-list-new-item__title 4-комн.
                          .price-list-new-item__price от 13 млн. ₽
                      .price-list-new__item.price-list-new-item
                          .price-list-new-item__title 5-комн.
                          .price-list-new-item__price от 20 млн. ₽
                  .card-object-extended__footer.card-object-extended-footer--new.card-object-extended-footer
                    .card-object-extended-footer__properties.properties
                      .properties__property.property
                        img.property__img.property__img--metro(src='assets/img/sale/metro.svg' alt='img')
                        span.property__text Площадь Ленина
                      .properties__property.property
                        img.property__img.property__img--bus(src='assets/img/sale/bus.svg' alt='img')
                        span.property__text.property__text--bus 5 мин.
                    .card-object-extended-footer__properties.properties
                      .properties__property.property
                        img.property__img.property__img--metro(src='assets/img/sale/metro.svg' alt='img')
                        span.property__text Октябрьская
                      .properties__property.property
                        img.property__img.property__img--bus(src='assets/img/sale/walk.svg' alt='img')
                        span.property__text.property__text--bus 3 мин.
                    .card-object-extended-footer__properties.properties
                      .properties__property.property
                        span.property__text Улица Гоголя, 15
                  button.btn.btn--card-object-extended.btn--success(type='button').card-object-extended__button-low.card-object-extended__button-low--new  Позвонить
