
  
  
  
  
  
.card-object-extended--new
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  border-radius: 10px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    min-height: 650px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.extended-slider-new-1--------
.extended-slider-new-1
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  .slick-slide
    margin: 0 0 0 0
  
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.extended-slider__item--new--------
.extended-slider__item--new
  +alie
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  display: flex!important
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.extended-slider-item__bunners--------
.extended-slider-item__bunners
  // +alic
  // +jucs
  +jucs
  width:100%
  height: auto!important

  // flex: 0 1 100%
  padding: 10px
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.extended-slider-item__bunner--------
.extended-slider-item__bunner--new
  +alic
  // +jucs
  // +jucb
  width: auto!important
  height: auto!important
  // flex: 0 1 100%
  margin: 0 10px 0 0
  &:last-child
    margin: 0 0 0 0
  padding: 11px 20px
  // position: relative
  // display: none
  // display: flex
  @extend %card
  border-radius :10px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    margin: 0 5px 0 0
    padding: 5px 10px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.extended-slider-item__text-bunner--new--------
.extended-slider-item__text-bunner--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    font-size: 12px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.extended-slider-item__text-bunner--new-lp--------
.extended-slider-item__text-bunner--new-lp
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    margin: 0 0 0 10px
    // padding: 0 0 0 0
    display: flex
    font-size: 12px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.extended-slider-item__icon--new--------
.extended-slider-item__icon--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    margin: 0 7px 0 0
    // padding: 0 0 0 0
    width: 7px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------







  // ?
//------.card-object-extended__head-line--new-lp--------
.card-object-extended__head-line--new-lp
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    flex: 0 1 100%
    // margin: 0 0 0 0
    
    display: flex
    +jucb
    +alic
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__head-text--new-lp--------
.card-object-extended__head-text--new-lp
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    font-size: 12px
    font-weight: normal
    color: $warm-grey
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__head-icon--new-lp--------
.card-object-extended__head-icon--new-lp
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    font-size: 20px
    color: #7ab764
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------


//------.card-object-extended__price-list--new--------
.card-object-extended__price-list--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 0 0 0 0	
    order: 2
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.card-object-extended-footer--new--------
.card-object-extended-footer--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0

    order: 1
    &:first-child
      display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.card-object-extended__button-low--new--------
.card-object-extended__button-low--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    order: 3
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------




//-------------
//------.extended-slider-item__bunner--new_guard--------
.extended-slider-item__bunner--new_guard
  img
    margin: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------


//------.card-object-extended__price-list--------
.card-object-extended__price-list
  // +alic
  
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  padding: 26px 100px 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    margin: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.price-list-new--------
.price-list-new
  // +alic
  // +jucs
  +jucs
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.price-list-new__item--------
.price-list-new__item
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 25px 21px 0
  
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    flex: 0 1 100%
    margin: 0 0 0 0


  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.price-list-new-item--------
.price-list-new-item
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    +jucb
    +alic
    border-top: 1px solid #ECECEC
    padding: 18px 20px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.price-list-new-item__title--------
.price-list-new-item__title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  font-weight: normal
  line-height: 140%
  color: #586EB6
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.price-list-new-item__price--------
.price-list-new-item__price
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 5px 0 0 0
  // position: relative
  // display: none
  // display: flex
  font-weight: normal
  font-size: 18px
  line-height: 140%
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 0 0 0 0
    font-size: 15px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__icon--------
.card-object-extended__icon
  // +alic
  // +jucs
  // +jucb
  width:15px
  height:20px
  // flex: 0 1 100%
  margin: 0 10px 0 auto
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    width:16px
    margin: 0 10px 0 0px
  @media (max-width: 767px)
    // flex: 0 1 100%
    
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__text--new--------
.card-object-extended__text--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  line-height: 140%
  color: #181818
  padding: 31px 87px 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__head-line--new--------
.card-object-extended__head-line--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 30px 0 0
  // position: relative
  // display: none
  // display: flex
  
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    padding: 0 20px 20px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__adress--new--------
.card-object-extended__delivery
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 17px 0 0 0
  // position: relative
  
  // display: flex
  font-weight: normal
  flex: 0 1 100%
  i
    display: none
  @media (max-width: 1199px)
    flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 17px 25px  20px  20px
    order: -1
    font-size: 12px
    color: $warm-grey
    +jucb
    i
      display: flex
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
// .card-object-extended__properties--new
//--------------
.card-object-extended__properties--new

  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 0 0 0
  padding:  30px 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__sub-price--------
.card-object-extended__sub-price
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: inline-flex
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__adress--new--------
.card-object-extended__adress--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 10px 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__right--new--------
.card-object-extended__right--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  padding: 18px 0 7px 30px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended__bunner-info--------
.card-object-extended__bunner-info
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  position: relative
  +absolute( auto, auto, 100%,  162px,  null,0,0)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info--------
.bunner-info
  @extend %card
  +alis
  +jucb

  z-index: 2000
  padding: 30px 32px 20px 31px
  flex-wrap: nowrap
  
  &:after
   content: ""
   background-color: white
   position: absolute
   width: 15px
   height: 15px
   top: -15px
   left: 6.1%
   z-index: 2
   transform: translate(0%,56%) rotate(45deg)
   border-radius: 5px
   // top: 100%; 
    // left: 100%;
    // top: 50%; 
    // left: 50%;
    // right: 0%;
    // @include anim(0.2s);
    // @include rotate(45deg);
    // transform: translate(-50%,-50%);
    
    // @include Text-Style-10;
    
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info__img--------
.bunner-info__img
  // +alic
  // +jucs
  // +jucb
  width:30px
  height:30px
  // flex: 0 1 100%
  margin: 0 15px 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info__column--------
.bunner-info__column
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 90%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info__title--------
.bunner-info__title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0  10px 
  // position: relative
  // display: none
  // display: flex
  white-space:  nowrap
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info__data--------
.bunner-info__data
  // +alic
  // +jucs
  +jucs
  flex-wrap: nowrap
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0 10px 0
  // position: relative
  // display: none
  // display: flex
  white-space:  nowrap
  span
    font-weight: normal
    line-height: 140%
    margin: 0 20px 0 0
    &:last-child
      margin: 0 0 0 0

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.span-info-green--------
.span-info-green
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  color: #7AB764
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.extended-icon-js--------
.extended-icon-js
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info--eco--------
.bunner-info--eco
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  left: 115px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info__data--wrap--------
.bunner-info__data--wrap
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  white-space: wrap!important
  flex-wrap: wrap
  p 
    font-weight: normal
    flex: 0 1 100%
    line-height: 140%
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.info-icon-eco-js--------
.info-icon-eco-js
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info-mortgage-js--------
.extended-icon-mortgage-js
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  &:hover
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.bunner-info--eco--------
.bunner-info--mortgage
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  left: 97px
  padding: 40px 32px 30px 74px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.bunner-info__button--------
.bunner-info__button
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 10px 60px
  // position: relative
  // display: none
  // display: flex
  // width: 208px
  // height: 38px
  background: #F4814C
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.advert-mortgage--new--------
.advert-mortgage--new
  +alic
  // +jucs
  +jucb
  // width:
  
  // flex: 0 1 100%
  margin: 30px 0 0 0
  padding: 0px 80px 0
  // position: relative
  // display: none
  @extend %card
  border-radius: 10px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.advert-mortgage__button--new--------
.advert-mortgage__button--new
  // +alic
  // +jucs
  // +jucb
  width:170px
  height: 40px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  background: #F4814C
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.advert-mortgage__text--new--------
.advert-mortgage__text--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  font-size: 20px
  line-height: 140%
  span
    color: #F4814C
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.advert-mortgage__column--new--------
.advert-mortgage__column--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 35%
  margin: 0 0 0 -55px
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.advert-mortgage__img--new--------
.advert-mortgage__img--new
  // +alic
  // +jucs
  // +jucb
  // width:
  height:150px
  flex: 0 1 20%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  position: relative
  // display: none
  // display: flex
  height:auto
  // transform: scale(0.95)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.content-sale__advert-average--new--------
.content-sale__advert-average--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin:  40px 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  display: flex
  @extend %card
  border-radius: 10px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__body--------
.advert-average__body
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__img.advert-average__img--new--------
.advert-average__img--new
  // +alic
  // +jucs
  // +jucb
  width:156px
  height:130px
  border-radius: 10px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__img.advert-average__img--new-double--------
.advert-average__img--new-double
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__chip.advert-average__chip--new--------
.advert-average__chip--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: flex
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//--------------
.advert-average-footer__button--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 9px 20px
  background: #F05650
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__footer--new--------
.advert-average__footer--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: flex
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__declaration--------
.advert-average__declaration
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 57%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  font-weight: normal
  font-size: 12px
  line-height: 140%
  color: #9E9E9E
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average-footer__title--new--------
.advert-average-footer__title--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0 4px 0
  // position: relative
  // display: none
  // display: flex
  font-size: 20px
  line-height: 23px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.advert-average-footer__text--new--------
.advert-average-footer__text--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0 20px 0
  // position: relative
  // display: none
  // display: flex
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//--------------
.advert-average-footer__img--new
  // +alic
  // +jucs
  // +jucb
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  width: 87px
  height: 87px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__button-block--------
.advert-average__button-block
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__body--new--------
.advert-average__body--new
  +alic
  // +jucs
  // +jucb
  width:100%
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 10px 30px 10px 10px
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.advert-average__content--------
.advert-average__content
  // +alic
  // +jucs
  // +jucb
  // width:
  flex: 0 1 54%
  // margin: 0 0 0 0
  padding: 0 0 0 23px
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.more--------
.more

  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 19px 0 
    +alic
    +jucc
    border-top: 1px solid #ECECEC
    font-size: 15px
    font-weight: normal
    &:hover
      cursor: pointer
    span 
      font-weight: normal
      color: #586eb6
      margin: 0 8px 0 0
    i
      color: #586eb6
      font-size: 20px
      transition: all 0.2s ease-in-out
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

// //------.more-js--------
// .more-js
//   // +alic
//   // +jucs
//   +jucb
//   // width:
//   // height:
//   // flex: 0 1 100%
//   // margin: 0 0 0 0
//   // padding: 0 0 0 0
//   // position: relative
//   // display: none
//   // display: flex
//   @media (max-width: 1199px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
//     +jucb
//   @media (max-width: 767px)
//     // flex: 0 1 100%
//     // margin: 0 0 0 0
//     // padding: 0 0 0 0
// //-------------