//-------------.modal-enter--------------------------------
.modal-enter
  margin: 0 auto
  padding: 31px 33px 35px 33px
  width: 410px
  background: #FFFFFF
  border: 1px solid #ECECEC
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15)
  border-radius: 10px
  @include media-breakpoint-down(lg)
    display: none



//-------------.modal-enter--safe--------------------------------
.modal-enter--safe
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 26px 33px 0 33px
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter__img--------------------------------
.modal-enter__img
  // +alic
  // +jucs
  // +jucb
  height: 163px
  width: 353px
  // flex: 0 1 100%
  margin: 30px 5px 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//---------------------------------------------
//-------------.modal-enter__title--------------------------------
.modal-enter__title
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  +font-family(roboto-medium,500,24px,28px,$dark-1)
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)


  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter__input--------------------------------
.modal-enter__input
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 20px 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter-input__input--------------------------------
.modal-enter-input__input
  // +alic
  // +jucs
  // +jucb
  width:100%
  height:50px
  flex: 0 1 100%
  margin: 10px 0 0 0
  padding: 0 0 0 18px
  @extend %card
  +font-family(roboto-medium,normal,15px,18px,$grey)
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter-input__label--------------------------------
.modal-enter-input__label
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter-input--------------------------------
.modal-enter-input
  // +alic
  +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter-input__label--foget--------------------------------
.modal-enter-input__label--forget
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: 400
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter__or--------------------------------
.modal-enter__or
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 27px 0 0 0
  // padding: 0 0 0 0
  text-align: center
  +font-family(roboto-medium,normal,15px,18px,grey)
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.modal-enter__social--------------------------------
.modal-enter__social
  // +alic
  // +jucs
  +jucb
  width:100%
  // height:
  // flex: 0 1 100%
  margin: 23px 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------


  //-------------.modal-enter-social__item--------------------------------
.modal-enter-social__item
  // +alic
  // +jucs
  +center
  width:50px
  height:50px
  // flex: 0 1 100%
  margin: 0 10px 0 0
  // padding: 0 0 0 0
  border-radius:5px
  +bg($bej)
  display:  flex
  transition: all 0.2s ease-in-out
  &:last-child
    margin: 0 0 0 0
  i
    font-size: 25px
    color:$grey
    transition: all 0.2s ease-in-out
  a

  &:hover
    cursor: url(/assets/img/cursor.svg), auto
    +bg(#E8F5FD)
    i
      color: #08A0E9

//---------------------------------------------
//-------------.modal-enter-social__link--main--------------------------------
.modal-enter-social__link--main
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    +center
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.modal-enter-item__forget--------------------------------
.modal-enter-item__forget
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 30px 0 0 0
  // padding: 0 0 0 0
  +font-family(roboto-medium,normal,15px,18px,$grey)
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.modal-enter-item__conditions--------------------------------
.modal-enter-item__conditions
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 20px 0 0 0
  // padding: 0 0 0 
  span
    +font-family(roboto-medium,normal,15px,18px,$grey)
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.modal-enter-item__condition--------------------------------
.modal-enter-item__condition
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  +font-family(roboto-medium,normal,15px,23px,$company)

  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.modal-enter__buttons--------------------------------
.modal-enter__buttons
  // +alic
  +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 21px 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.modal-enter__button--------------------------------
.modal-enter__button
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 1 1 10%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.modal-enter__button--continue--------------------------------
.modal-enter__button--continue
  // +alic
  // +jucs
  // +jucb
  // width:188px
  height:50px
  flex: 0 1 188px
  margin: 0 20px 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)

  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter__button--registration--------------------------------
.modal-enter__button--registration
  // +alic
  // +jucs
  // +jucb
  // width:136px
  height:50px
  flex: 1 1 10%
  flex-grow: 1
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  +bg($salat)
  +font-family(  roboto-medium,normal,15px,18px,$active)
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // // flex: 0 1 100%
    // // margin: 0 0 0 0
    // // padding: 0 0 0 0
    // flex: 1 1 40%
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter__button--forget--------------------------------
.modal-enter__button--forget
  // +alic
  // +jucs
  // +jucb
  width:100%
  height:50px
  // flex: 0 1 100%
  margin: 21px 0 0 0
  // padding: 0 0 0 0
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------

//-------------.modal-enter__text--safe--------------------------------
.modal-enter__text--safe
  // +alic
  // +jucs
  // +jucb
  width:90%
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-size: 18px
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%
//---------------------------------------------
//-------------.modal-enter__text--------------------------------
.modal-enter__text
  // +alic
  // +jucs
  // +jucb
  width:80%
  // height:
  flex: 0 1 80%
  margin: 20px 0 0 0
  // padding: 0 0 0 0
  +font-family(roboto-medium,normal,15px,150%,dark-1)
  @include media-breakpoint-down(xl)
  @include media-breakpoint-down(lg)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(md)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(sm)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @include media-breakpoint-down(xs)
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // flex: 0 1 100%

