.header__main 
  .container
    padding: 0 0 0 0	
.header-main 
.header-main__body 
  +alic
.header-main__logo 
  margin: 0 3.2% 0 0
.header-main__menu
  flex-grow: 1
.header__menu_overlay,.header-close 
  display: none 

.header-main-menu ul
  flex-wrap: nowrap!important
  +jucb 
  .header-main-menu__item
    display: flex
  .header-main-menu__link 
    +font-family(  roboto-medium,normal,15px,18px,$dark-1)
    +pro
    padding: 31px 5px
    +border(1px , transparent)
    &:hover
      +bg(lighten($active,30%))
      +border(1px , darken($active,50%))
      box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12)
    &:focus
      +bg(lighten($active,10%))
      +border(1px , darken($active,20%))
      color: white
      box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.4)  
.header-main__button 
  display: block
  +alic
  border-radius: 5px
  padding: 10px
  margin: 0 0 0 5.3%
  +font-family(  roboto-medium,normal,15px,18px,white)	
  .icon-plus
    margin: 0 15px 0 0
    color: white


