.header__top 
  padding: 17px 0 
  // border: 1px solid $bej 
  .container
    padding: 0 0 0 0	
.header-top__body 
  +alic
  
.header-top__location 

.header-top-location
  +jucb


.icon-location 
  font-size: 18px


.header-top-location__text 
  +font-family(  roboto-medium,normal,14px,1.4,$grey)
  margin: 0 0 0 17px
.header-top__currency 
  margin: 0 0 0 6.4%

.header-top-currency
  &__body
    +jucb

  &__item
    margin: 0 27px 0 0 
    span 
      +font-family(  roboto-medium,normal,15px,18px,$grey)
      &:first-child
        margin: 0 5px 0 0

      &:last-child
        color: $red


.header-top__button
  margin: 0 0 0 auto
  &>button
    display: block 
    padding: 11px 24px 
    +bg($salat)
    +font-family(  roboto-medium,normal,15px,18px,$active)