.container-fluid 
  padding: 0 0 0 0
  
.header__select 
  // padding: 0 0 11.3% 0
  position: relative
  width: 100%
  
  
.header-select 
  +jucc	
  
  .header-select__body 
    flex: 0 1 56.4%
    padding: 4.8% 0 4.65%
    background: rgba(24, 24, 24, )
  .header-select__title 
    z-index: 2
    position: relative
    +font-family(  roboto-medium,bold,48px,100%,white)
  .header-select__tabs 
    margin: 4.5% 0 0 0
    width: 47.3%
    position: relative
    z-index: 100000
    
    	
  .tabs__body
    +bg( #2B3036) 
    border-radius: 5px
    padding: 0 0 0 0
    +jucb

  .tabs__item
    flex-grow: 1 
  .tabs-item 
    box-shadow: none
    border-radius: 5px
    +bg( #2B3036)
    border: none
    max-height: 50px
  .mb-2 
  .tabs-item__body
    +center
  .tabs-item__title
    padding: 17px 0
    &:hover
      cursor: pointer
    +pro
    +center
    +font-family(  roboto-medium,normal,15px,18px,#ECECEC)
    transition: all 0.2s ease-in-out
    &.act
      +bg(#F4F4F4)
      border-radius: 5px
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
      color: $dark-1
  .tabsDep-title-js 
  .tabs-item__img 
  .icon-chevron-down 
  .tabsDep-img-js 
    transition: all 0.2s ease-in-out
  .tabs__drop
    
    &_sub
      border-radius: 5px
      border-top-left-radius: 0px
      .tabs-item
        +bg(white)
      .tabs-item__title
        +font-family(  roboto-medium,normal,15px,18px,#181818)
        padding: 17px 0 17px 30px
        +pro
      .tabs-item__img
        margin: 0 20px 0 auto
        font-size: 18px
      .tabs-drop
        width: 100%

  .tabs-drop
    display: none
    +absolute( 211%, 50px, 100%,  0%,  null,0,0)
    +bg(white)
  .header-select__buttons 
    +juce
    position: relative
    z-index: 2
    margin: 6.7% 0 0
    z-index: 2
    button
      width: 220px
      height: 50px
  .btn-light
    +font-family(  roboto-medium,500,15px,18px,$dark-1)
    margin: 0 10px 0 0
  .btn-success
    +font-family(  roboto-medium,500,15px,18px,white)
  .tabs-drop__info
    flex: 0 1 48.7%
    padding: 0 30px	
    +jucb
    +alic
  .tabs-drop__adress
    +font-family(  roboto-medium,normal,15px,18px,$grey)
  .tabs-drop__metro
    +font-family(  roboto-medium,normal,15px,18px,#586EB6)