.container-fluid 
  padding: 0 0 0 0
  
.header__select 
  // padding: 0 0 11.3% 0
  position: relative
  width: 100%
  
  
.header-select 
  +jucc	
  
  .header-select__body 
    flex: 0 1 57.4%
    padding: 4.8% 0 4.65%
    background: rgba(24, 24, 24, )
  .header-select__title 
    z-index: 2
    position: relative
    +font-family(  roboto-medium,bold,48px,100%,white)
  .header-select__filter 
    margin: 4.5% 0 0 0
    width: 47.3%
    position: relative
    z-index: 100000
  .filter__body
    +bg( #2B3036) 
    border-radius: 5px
    padding: 0 0 0 0
    +jucb

  .filter__item
    flex-grow: 1 
  .filter-item 
    box-shadow: none
    border-radius: 5px
    +bg( #2B3036)
    border: none
    max-height: 50px
  .mb-2 
  .filter-item__body
    +center
  .filter-item__title
    padding: 17px 0
    &:hover
      cursor: pointer
    +pro
    +center
    +font-family(  roboto-medium,normal,15px,18px,#ECECEC)
    transition: all 0.2s ease-in-out
    &.act
      +bg(#F4F4F4)
      border-radius: 5px
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
      color: $dark-1
  .filterDep-img-js 
    transition: all 0.2s ease-in-out
  .filter__drop
    &_sub
      border-radius: 5px
      border-top-left-radius: 0px
      .filter-item
        +bg(white)
      .filter-item__title
        +font-family(  roboto-medium,normal,15px,18px,#181818)
        padding: 17px 0 17px 30px
        +pro
      .filter-item__img
        margin: 0 20px 0 auto
        font-size: 18px
      .filter-drop
        width: 100%

  .filter-drop
    display: none
    +absolute( 211%, 50px, 100%,  0%,  null,0,0)
    +bg(white)
    &__body
      +jucb
    &__info
      flex: 0 1 48.7%
      padding: 0 30px	
      +jucb
      +alic
  .header-select__buttons 
    +juce
    position: relative
    z-index: 2
    margin: 6.7% 0 0
    z-index: 2
    button
      width: 220px
      height: 50px
  .btn--light
    +font-family(  roboto-medium,500,15px,18px,$dark-1)
    margin: 0 10px 0 0


  .filter-drop__adress
    +font-family(  roboto-medium,normal,15px,18px,$grey)
  .filter-drop__metro
    +font-family(  roboto-medium,normal,15px,18px,#586EB6)