.task-card
  @extend %card
  padding: 20px	
  position: relative
  &__title
    padding: 0 0 8px
    font-size: 20px
    line-height: 100%
  &__text
    padding: 12px 0 0 0
  &__notes
    padding: 9px 9px 0 0
    font-weight: normal
    line-height: 150%
    opacity: 1 
  &__properties
    margin: 25px 0 0 0
    padding: 0 0 0 19px
    +alic 
  &__property
    +alic
  &__property-icon
    font-size: 20px
    margin: 0 3px 0 0
    color: $grey
  &__property-text 
    padding: 0 18px 0 3px
    +alic
    font-weight: normal
    line-height: 150%
    color: $grey
    span
      margin: 0 0 0 5px
  &__property-text--green 
    color: #7AB764 
    padding: 0 0 0 5px

.card--info
  min-height: 284px
  &__img
    width: 100%
    height: 150px
  &__title
    font-weight: normal
    font-size: 18px
    line-height: 150%
    color: #586EB6
    padding: 19px 20px 0 
  &__text 
    font-weight: normal
    font-size: 18px
    +alic
    margin: 10px 20px 0 
  &__notes 
    +alic
    margin: 20px 20px 0
    span
      font-weight: normal
      color: $grey
  &__property
    &--text
      margin: 0 10px 0 0  
      font-weight: normal
    &--metro
      margin: 0 10px 0 0 
    &--bus
      margin: 0 10px 0 0
  
.card-object
  @extend %card
  +fdc
  position: relative
  &:hover
    cursor: pointer
  &__img
    height: 150px
    width: 100%
    border-top-right-radius: 5px
    border-top-left-radius: 5px
  &__title
    margin: 21px 20px 0 
    font-weight: normal
    font-size: 18px
    line-height: 150%
    color: $company
  &__text
    margin: 5px 20px 0 
    +alic
    font-weight: normal
    font-size: 18px
    line-height: 100%
    span
      font-weight: normal
      font-size: 18px
      line-height: 21px
  &__properties
    +jucs
    +alic
    margin: 24px 0 0 20px
    span
      font-weight: normal
      color: $grey
  &__property
    +jucs
    margin: 0 10px 0 0
  &__property--metro  
  &__property-text
    font-weight: normal
    margin: 0 0 0 10px
    &_grey
      color: $grey
  &__property--bus
  &__badge


@media (min-width:  1200px) and (max-width:  1290px )
  .card-object
    &__property
      flex: 0 1 100%
      margin: 0 0 10px 0
      &:last-child
        margin: 0 0 20px 0

@media (max-width: 1199px)

    
@media (max-width: 768px)
  .card-object
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05)
    &__img
      height: 118px
    &__title  
      margin: 15px 15px 0
    &__text
      margin: 5px 15px 0 
    &__properties
      margin: 24px 0 0 15px
    &__property
      margin: 0 10px 5px 0
      +alic
      &:last-child
        margin: 0 10px 0 0
      img
        width: 15px
        height: 15px
    &__badge
      +absolute(70px,24px,10px,null,10px,0%,0%)
  .card-object__title,.card-object__text,.card-object__property-text
    font-size: 14px
    span
      font-size: 14px


.card-object-badge
  +absolute(60px,27px,15px,null,15px,0%,0%)
  +bg(white)
  z-index: 5
  border-radius: 5px
  +center
  font-weight: normal
  font-size: 12px
  line-height: 140%
  @media (max-width: 768px)
    +absolute(70px,24px,10px,null,10px,0%,0%)





.opinion-card
  @extend %card
  padding: 20px	
  +alic 
  position: relative
  &__img 
    flex: 0 1 28%
  &__right
    flex: 1 1 49%
    padding: 0 0 0 34px	

  &__title 
    font-weight: normal
    line-height: 150%
  &__text
    font-weight: normal
    line-height: 150%
    color: $grey
    padding: 9px 60px 7px 0
  &__content 
    font-size: 20px
    line-height: 150%
  &__notes
    +jucs
    margin: 17px 0 0 0
  &__note
    margin: 0 26px 0 0
    +jucs
    +alic
    i
      font-size: 20px
      color: $grey
      margin: 0 10px 0 0
  &__note-text
    font-weight: normal
    line-height: 150%
    color: $grey

.news-left-card 
  min-height: 250px
  @extend %card
  background-size: cover
  position: relative
  &__text
    position: relative 
    padding: 104px 0 0 20px
    font-weight: normal
    font-size: 18px
    line-height: 100%
    color: $white
  &__title
    position: relative
    padding: 11px 39px 8px  20px
    font-weight: normal
    font-size: 24px
    line-height: 130%
    color: $white
  &__notes 
    padding: 9px 0 0px 20px
    font-weight: normal
    line-height: 100%
    color: $white
    opacity: 0.5

.card-revieves
  @extend %card
  position: relative
  &__stars
    margin: 11px 0 0 0
  &__text
    font-weight: normal
    color: $grey
    margin: 0 0 0 0
    padding: 10px 0 0 0
    &--person
      color: $dark-1
      padding: 0 0 0 0	
  &__title
    font-size: 18px
    line-height: 140%
    padding: 21px 0 0 0	
  &__rev
    font-weight: normal
    line-height: 150%
    padding: 10px 0 0 0
  &__person
    position: absolute
    bottom: 35px
    margin: 0 0 0 0
    +alic
  &__avatar
    width: 30px
    height: 30px
    margin: 0 10px 0 0

.card-revieves-stars
  +jucs
  &__star
    font-size: 18px
    color: #FBB143
    margin: 0 7px 0 0

.sale-filter 
  +jucs
  background: #FFFFFF
  border: 1px solid #ECECEC
  border-radius: 5px
  &__item 
    padding: 17px 29px 
    border-right: 1px solid #ECECEC
    transition: all 0.2s ease-in-out
    &:hover
      +bg(#DEF1D7) 
      cursor: pointer 
      .sale-filter__title
        color: $dark-1
        

    &:last-child
      border-right: none
    +center
  &__title
    font-weight: normal
    line-height: 100%
    color: $grey
    transition: all 0.2s ease-in-out
    white-space: nowrap



//-------------.categories-item--------------------------------
//-------------.categories-item--------------------------------
//-------------.categories-item--------------------------------
.categories-item
  border-radius: 5px
  transition: all 0.2s ease-in-out
  position: relative
  background-repeat: no-repeat
  display: flex
  &:hover
    cursor: pointer
    transform: scale(1.02)
    box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.1)
  @media (max-width: 1199px)
    min-width: 415px
    margin: 0 20px 0 0
    &:last-child
      margin: 0 0 0 0
  @media (max-width: 768px)
  &:focus
    transform: scale(1.02)
  a
    padding: 21px 0 0 20px
  span
    margin: 0 5px 0 0
  //-------------.categories-item__badge--------------------------------
.categories-item__badge
  background: #FFFFFF
  border-radius: 5px
  display: inline-block
  padding: 21px 14px 10px 19px 
//-------------.categories-item__title--------------------------------
.categories-item__title
  margin: 0px 0 19px 0
  font-weight: normal
  font-size: 20px
  line-height: 23px
 
//-------------.categories-item__text--------------------------------
.categories-item__text
  font-weight: normal
  color: $company
  margin: 0 0 10px 0

//-------------.categories-item__btn--------------------------------
.categories-item__btn
  width: 216.68px
  height: 44px
  span
    margin: 0 0 0 15px

//---------------------------------------------

//-------------. card-object-extended--------------------------------
//-------------. card-object-extended--------------------------------
//-------------. card-object-extended--------------------------------
//-------------. card-object-extended--------------------------------
//-------------. card-object-extended--------------------------------
.card-object-extended
  // +alic
  // +jucs
  +jucb
  position: relative
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  @extend %card
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    border-radius: 10px

  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0

//-------------.content-sale-card__right--------------------------------
.card-object-extended__right
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  
  flex: 1 1 40%
  // margin: 0 0 0 0
  padding: 18px 0px 18px 30px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    padding: 18px 30px 18px 20px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    padding: 18px 13px 20px 

//---------------------------------------------
//-------------.content-sale-card__slider--------------------------------
.card-object-extended__slider
  flex: 0 1 34.3%
  width: 10px
  .slick-list,.slick-track
    height: 100%
  .slick-slide
    div
      height: 100%

  @media (max-width: 1199px)
    flex: 0 1 100%
  @media (max-width: 767px)

// .extended-slider--------------------
.extended-slider-1-js,.extended-slider-2-js,.extended-slider-3-js,.extended-slider-4-js,.extended-slider-5-js,.extended-slider-6-js,.slider-viewing-1-js
  .slick-slide
    margin: 0 0 0 0
  .slick-dots-button
    // display:  flex
  .slick-dots li:not(.slick-active)
    display: none
  .slick-active
    z-index: 2
    display: inline-flex
    +absolute( 71px, 38px, null, null, 10px,0,0)
    bottom:  10px


  .slick-dots-current
    font-weight: normal
    font-size: 15px
    color: $white
    margin: 0 0 0 
  .slick-dots-total
    font-weight: normal
    color: $white
    font-size: 15px
    margin: 0 0 0 
  .slick-dots-separator
    color: white
    font-size: 15px
    font-weight: normal
    margin: 0 5px
  .slick-dots-button
    +center 
    background: transparent
    width: 71px
    height: 38px
    border-radius: 10px
    background: rgba(24,24,24, .6)

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    .slick-active
      display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.extended-slider__arrows
.extended-slider__arrows
  +absolute( 32.4%, 37px, 50%, 7px,  null,0,-50%)
  z-index: 2
  
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.extended-slider-arrows__arrow--------------------------------
.extended-slider-arrows__arrow
  width:37px
  height:37px
  background: rgba(24,24,24, .6)
  color: white
  display: block
  border-radius: 50%
  +center
  transition: all 0.2s ease-in-out
  &:hover
    cursor: pointer
    +bg(rgba(#7AB764, .6))
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.extended-slider__item--------------------------------
.extended-slider__item
  // +alic
  // +jucs
  // +jucb
  // max-width:100px
  
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0

  
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.extended-slider-item--------------------------------
.extended-slider-item
  position: relative
  background-repeat: no-repeat
  background-size: cover
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  +bg($active)
  @media (max-width: 1199px)
    border-top-right-radius: 10px
    border-bottom-left-radius: 0px
    min-height: 196px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0    
    min-height: 150px

//---------------------------------------------
//-------------.extended-slider-item__bunner--------------------------------
.extended-slider-item__bunner
  // +alic
  // +jucs
  // +jucb
  +center
  +absolute( 102px, 40px, null,  10px,  null,0,0)
  bottom: 10px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  background: #FFFFFF
  border-radius: 10px
  height: 40px!important
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.extended-slider-item__icon--------------------------------
.extended-slider-item__icon
  // +alic
  // +jucs
  // +jucb
  margin: 0 10px 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//------.extended-slider-item__icon--new--------
.extended-slider-item__icon--new
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  width:15px
  height:20px
  margin: 0 15px 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // padding: 0 0 0 0
    width:7px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    width:12px
//-------------
//------.extended-slider-item__chip--------
.extended-slider-item__chip
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    padding: 5px 10px
    background: $white
    border-radius: 5px
    font-weight: normal
    font-size: 12px
    line-height: 14px
    +absolute( 95px, 30px, null, 10px,  null,0,0)
    bottom: 10px
    +center
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
// span.extended-slider-item__chip Новостройка
//-------------.content-sale-card__right--------------------------------
.card-object-extended__right
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 1 1 40%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale-card__head-line--------------------------------
.card-object-extended__head-line
  +alic
  // +jucs
  +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  padding: 0 98px 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 0 20px
    padding: 0 0 0 0	
    +jucs
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//------.card-object-extended__flor--------
.card-object-extended__flor
  display: none
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    +alic
    // +jucs
    +jucb
    // width:
    // height:
    flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // position: relative
    
    // display: flex
    font-weight: normal
    font-size: 12px
    line-height: 14px
    color: #9E9E9E
  @media (max-width: 767px)
    font-size: 14px
    order: 1
    margin: 6px 0 0 0
    .icon-like-green
      font-size: 16px
//-------------
//-------------.content-sale-card__header--------------------------------
.card-object-extended__header
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 auto 0 0
  // padding: 0 0 0 0
  font-size: 20px
  line-height: 23px
  color: #586EB6
  @media (max-width: 1199px)
    flex: 0 1 100%
    // margin: 0 0 0 0
    padding: 0
    margin: 0px 0 10px 0
  @media (max-width: 767px)
    font-size: 18px
    line-height: 21px
//---------------------------------------------
//-------------.content-sale-card__price--------------------------------
.card-object-extended__price
  +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-size: 20px
  line-height: 23px
  @media (max-width: 1199px)
    font-size: 15px
    display: none
    
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    font-size: 14px
//---------------------------------------------
//------card-object-extended__price--lp--------
.card-object-extended__price--lp
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: flex
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//-------------.content-sale-card__price-per--------------------------------
.card-object-extended__price-per
  +alic
  +juce
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  padding:  3px 0 0 0
  font-weight: normal

  @media (max-width: 1199px)
    flex: 0 1 auto
    // margin: 0 0 0 0
    padding: 0 0 0 0
    // display: inline-flex
    font-size: 15px
    font-weight:500

  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    font-size:14px
//---------------------------------------------
//------.extended-slider-item__icon-lp--------
.extended-slider-item__icon--lp
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    margin: 0 10px 0 0
    // padding: 0 0 0 0
    display: flex
  @media (max-width: 767px)
    // flex: 0 1 100%
    margin: 0 8px 0 0
    // padding: 0 0 0 0
    width: 12px
//-------------
//-------------.content-sale-card__adress--------------------------------
.card-object-extended__adress
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 0 9px 0
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale-card__properties--------------------------------
.card-object-extended__properties
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 0 30px
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0 
    display: none

  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
// .card-object-extended-properties
//--------------
.card-object-extended-properties
  +alic
  +jucs
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0

  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//-------------. card-object-extended-properties__property--------------------------------
.card-object-extended-properties__property
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  margin: 0 10px 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------. card-object-extended-properties__property--metro-text--------------------------------
.card-object-extended-properties__property--metro-text
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  line-height: 1
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    font-size: 14px
//---------------------------------------------
//------.card-object-extended-properties__property--metro-icon--------
.card-object-extended-properties__property--metro-icon
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    width: 15px
    height: 15px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//-------------. card-object-extended-properties__property--time-text--------------------------------
.card-object-extended-properties__property--time-text
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  font-size: 15px
  line-height: 18px
  color: #9E9E9E
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    font-size: 14px
//---------------------------------------------
//-------------. card-object-extended-properties__property--count--------------------------------
.card-object-extended-properties__property--count
  // +alic
  // +jucs
  +center
  width: 34px
  height:24px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  font-size: 12px
  line-height: 14px
  background: #ECECEC
  border-radius: 5px
  color: #000000
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale-card__text--------------------------------
.card-object-extended__text
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 87px 0 0
  font-weight: normal
  font-size: 15px
  line-height: 1.5
  color: #9E9E9E

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale-card__person--------------------------------
.card-object-extended__person
  +alic
  +jucs
  // +jucb
  // width:
  // height:
  flex: 0 1 100%
  margin: 18px 0 0
  padding: 0 118px 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale-card__avatar--------------------------------
.card-object-extended__avatar
  width:40px
  height:40px
  border-radius: 50%
  margin: 0  10px 0 0
  img 
    +pro
    border-radius: 50%  
//---------------------------------------------
//-------------.content-sale-card__name--------------------------------
.card-object-extended__name
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  font-weight: normal
  line-height: 140%
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------.content-sale-card__time--------------------------------
.card-object-extended__time
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 20px 0 auto
  // padding: 0 0 0 0
  font-weight: normal
  line-height: 140%
  color: #9E9E9E
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

//-------------.content-sale-card__info--------------------------------
.card-object-extended__info
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 20px 0 0 0
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
  
//-------------. card-object-extended-info--------------------------------
.card-object-extended-info
  +alic
  +jucs
  +jucb
  // width:
  // height:
  flex: 0 1 100%
  // margin: 0 0 0 0
  padding-right: calc(20px + 63*((100vw-1200px)/(1800-1200)))
  // padding-right:90px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: none 
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------. card-object-extended-info__location--------------------------------
.card-object-extended-info__location
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------. card-object-extended-info__property--------------------------------
.card-object-extended-info__property
  +alic
  +center
  // +jucb
  // width:
  min-height: 38px
  // flex: 0 1 100%
  // margin: 0 5px 0 12px
  
  border: 1px solid #ECECEC
  border-radius: 5px
  &:first-of-type
    padding: 0 10px
  &:not(:first-of-type)
    padding: 0 10px	
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------. card-object-extended-info__text--------------------------------
.card-object-extended-info__text
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 0 0 15px
  // padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//-------------. card-object-extended-info__button--------------------------------
.card-object-extended-info__button
  // +alic
  // +jucs
  // +jucb
  width:190px
  height:38px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0 
  font-weight: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------
//------.card-object-extended__footer--------
.card-object-extended__footer
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    flex: 0 1 100%
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended-footer--------
.card-object-extended-footer
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // margin: 0 0 0 0
    +jucb
    border-top: 1px solid #ECECEC
    padding: 20px 20px 15px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    padding: 20px 13px 9px
//-------------
//------.card-object-extended-footer__properties--------
.card-object-extended-footer__properties
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    flex: 0 1 100%
    margin: 0 0 6px 0
    
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended-properties--------
.card-object-extended-properties
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.card-object-extended-footer__button--------
.card-object-extended__button-low
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  @media (max-width: 1199px)
    flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    display: flex
    height: 50px
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.btn--card-object-extended--------
.btn--card-object-extended
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    border-top-left-radius: 0%!important
    border-top-right-radius: 0%!important
    border-bottom-left-radius: 10px!important
    border-bottom-right-radius: 10px!important
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    font-size: 14px
    font-weight: normal
    height: 40px
//-------------
