

.container
  padding: 0 0 0 0
  @media (min-width: 1360px)
    max-width: 1300px
  @media (max-width: 1360px)
    min-width: 100%
    padding: 0 30px
  @media (max-width: 1199px)
    padding: 0 30px
  @media (max-width: 768px) 
    padding: 0 10px	
.container-fluid 
  padding: 0  0 0

  
.container--extended
  width: 79.7%
  margin: 0 auto
  padding: 0 0 0 0	
  @media  (min-width: 1201px) and (max-width: 1650px)
    width: 100%!important
    padding: 0 30px!important
  @media (max-width: 1199px)
    width: 100%!important
    padding: 0 30px	0 30px!important
  @media (max-width: 768px)
    padding: 0 10px!important

@media (max-width: 1199px)
  .container--sale
    min-width: 100%
    padding: 0 30px	

@media (max-width: 768px) 
  .container--sale
    min-width: 100%
    padding: 0 10px!important


//-------------.container--page-sale--------------------------------
.container--page-sale
  width: 79.6%
  margin: 0 auto
//---------------------------------------------

//-------------.container--page-sale--------------------------------
.container--content-page-sale
  padding: 0 0 0 0
  @media (min-width: 1350px)
    max-width: 1290px
  @media (max-width: 1350px)
    min-width: 100%
    padding: 0 30px
  @media (max-width: 1199px)
    padding: 0 30px
  @media (max-width: 768px) 
    padding: 0 10px	
//---------------------------------------------
