

.container
  padding: 0 0 0 0
  @media (min-width: 1360px)
    max-width: 1300px!important
  @media (max-width: 1360px)
    min-width: 100%
    padding: 0 30px
  @include media-breakpoint-down(lg)
    padding: 0 30px
  @include media-breakpoint-down(sm) 
    padding: 0 10px	
.container-fluid 
  padding: 0  0 0

  
.container--extended
  width: 79.7%
  margin: 0 auto
  padding: 0 0 0 0	
  @media  (max-width: 1201px) and (max-width: 1360px)
    width: 100%
    padding: 0 30px!important
  @include media-breakpoint-down(lg)
    padding: 0 30px	0 30px!important
  @include media-breakpoint-down(sm)
    padding: 0 10px!important

@include media-breakpoint-down(lg)
  .container--sale
    min-width: 100%
    padding: 0 30px	

@include media-breakpoint-down(sm) 
  .container--sale
    min-width: 100%
    padding: 0 10px!important