
  
  
  
.sale-scroll__item--advert
  min-height: 293px
@include media-breakpoint-down(lg)
  .card-object__img--advert
    height: 180px
  .sale__body--advert
    padding: 0 0 305px 0	
  .sale--advert-next
    display: none
  .card-object__title--advert
    margin: 27px 20px 0
  .card-object__text--advert

  .sale__scroll--advert
    top: 65px
  .sale-scroll__item--advert
    min-height: 293px!important
    min-width: 309px

@media (max-width:  767px )
  .sale__scroll--advert
    top: 15px
    height: 245px
  .card-object--advert
    min-height: 193px !important
    height: 193px !important
  .sale__body--advert
    padding: 0 0 245px