.cover-link--advert
  min-height: 293px
  @media (max-width: 768px)
    min-height: auto

//-------------.card-object__img_advert--------------------------------
.card-object__img_advert
  height:180px

//-------------.card-object__title_advert--------------------------------
.card-object__title_advert
  margin: 30px 20px  0


@media (max-width: 1199px)
  .card-object__img--advert
    height: 180px
  .sale--advert-next
    display: none
  .card-object__title--advert
    margin: 27px 20px 0
  .card-object__text--advert

  .sale__scroll--advert
    top: 65px
  .sale-scroll__item--advert
    min-height: 293px
    min-width: 309px

@media (max-width: 767px )
  .sale__scroll--advert
    top: 15px
    height: 245px
  .sale-scroll__item--advert
    min-height: 194px