.bunners
  +bg($fone)
  padding: 50px 0 0 0	
  @media (max-width: 768px) 
    display: none
  &__body
    position: relative 
  &__arrows
    position: relative
    z-index: 2
    +absolute( 120px, 50px, null, null,  115px,0,0) 
    bottom: 26px
//-------------.bunners--page-sale--------------------------------
.bunners--page-sale
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 30px 0 0 0
  padding: 0 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//---------------------------------------------

.slider-bunners-item 
  border-radius: 10px 
  padding: 15px 20px 108px 40px	
  position: relative 
  &__buttons
    +jucs
  &__button_empty 
    margin: 5px 10px 0 0
  &__button_light
    margin: 0 0 0 10px
    font-weight: normal
    font-size: 12px
    line-height: 140%
    +bg(white)
    height: 27px
    padding: 0 5px
  &__button-order
    width: 188px
    height: 40px
    margin: 20px 0 0 0
    .icon-phone 
      margin: 0 13px 0 0
      font-size: 16px
  &__button
    &:nth-child(3)
      margin: 0 0 0 auto 
  &__small
    padding: 18px 0 0 0
    font-weight: normal
    color: $white
  &__title
    padding: 12px 0 0 0
    +alic 
    font-weight: bold
    font-size: 36px
    line-height: 42px
    color: $white
  &__text
    padding: 12px 0 0
    font-weight: normal
    line-height: 140%
    color: $white
  // --------------------------------
.bunners
  .slick-slide
    margin: 0 0 0 0
  .slick-dots li:not(.slick-active)
    display: none
  .slick-active
    z-index: 2
    display: inline-flex
    +absolute( 60px, 33px, null, null, 35px,0,0)
    bottom: 35px

  .slick-dots-current
    font-weight: normal
    font-size: 24px
    line-height: 140%
    color: $white
  .slick-dots-total
    z-index: 2
    font-weight: 300
    line-height: 140%
    color: $white
    margin: 0 0 3px 0
    +alie
  .slick-dots-separator
    color: white
    font-size: 15px
    margin: 0 0 6px 0
  .slick-dots-button
    +alie
    background: transparent

.slider-bunners-item__button_cross--bunners
  @extend .slider-bunners-item__button_light
  i 
    display: none

.bunners-arrows
  +alic
  +jucb
  &__arrow
    +center
    width: 50px
    height: 50px
    border-radius: 50%
    font-size: 22px
    transition: all 0.2s ease-in-out 
    color: white
    +bg(transparent)
    &:hover
      cursor: pointer
      +bg($active)
      color: white

@media (max-width:  1650px )
  .bunners
    padding: 25px 0 40px
@media (max-width: 1199px)
  .bunners
    padding: 40px 0 
    .slick-active 
      right: 17px
      bottom: 30px
  .slider-bunners-item
    padding: 15px 20px 20px 40px
  .slider-bunners-item__button_light
    width: 80px 
    height: 30px  
  .slider-bunners-item__button_cross--bunners
    width: 30px
    height: 30px
    +bg(white)
    margin: 0 0 0 10px
    span
      display: none
    i
      display: flex
      font-size: 22px
      color: $dark-1
    &:hover
      i
        color: $white

  .slider-bunners-item__buttons
    +alic
    .icon-rouble
      color: $white
  .slider-bunners-item__button-order
    width: 250px
    height: 50px 
  .bunners-arrows__arrow
    border: 2px solid #7AB764
    width: 40px
    height: 40px
  .slider-bunners-item__button-order
    margin: 28px 0 0
  .bunners__item
    padding: 15px 14px 20px 40px
  .slider-bunners-item__title
    .icon-rouble
      color: $white
      font-size: 36px

  .bunners__arrows
    right: 97px
    width: 95px
    bottom: 20px





  
