.news_calc 
  @extend %s-wrapper
  padding: 47px 0 0 0
  @media (max-width: 1199px) 
    display: none
.calculator
  @extend %card
  padding: 30px 28px 30px
  +jucb
  +pro
  &__sliders
    flex: 1 1 40%
  &__offer
    flex: 0 1 46%
    margin: 0 0 0 48px









.news__body_calc
  margin: 0 0 0 0
.calculator-sliders
  +jucb
.title_calc
  font-size: 24px
  line-height: 28px
  
.news__left
  flex: 1 1 10%

.calculator-sliders
  &__body
    +jucb
    width: 100%
    margin: 20px 0 0 0
  &__column
    flex: 1 1 40%
    padding: 0 30px 0 0
    &:last-child
      flex: 0 1 32%
  &__text
    flex: 0 1 100% 
    font-weight: normal
    color: $grey
  &__number
    flex: 0 1 100% 
    +alic
    font-weight: normal
    font-size: 20px
    line-height: 23px
    color: #000000
    margin: 12px 0 0 0
    
.calculator-section
  margin: 0 0 18px 0
  &:last-child
    margin: 0 0 10px 0
  &__title 
    font-weight: normal
    color: $grey
  &__number
    +alic
    font-weight: normal
    padding: 10px 0 3px

    span.icon-rouble
      font-weight: normal
  &__marker
    font-weight: normal
    margin: 0 0 0 5px
  &__marker--twenty
    font-weight: normal
    font-size: 20px
    line-height: 23px
    color: $grey
    display: inline-block
    margin: 0 0 0 auto


.range
  padding: 0 0 0 0
.news-line 
  &__body 
    padding: 21px 0
    +alic
    +jucb
    border-top: 1px solid $bej

  &__icon 
    width: 40px
    height: 40px
    +jucs
  &__text 
    font-weight: normal
    color: #000000
  &__number
    font-weight: normal
    color: #000000
  &__rate
    +alic
    font-weight: normal
    color: #000000
    +juce

.calculator-offer
  &__button 
    margin: 18px 0 0 0
    width: 250px
    height: 48px
  &__line
    &_last
      border-bottom: 1px solid $bej
 
.news-right_calc
  margin-bottom: 0
.news-right_calc  
  +background-img("/assets/img/calc/calc.webp")
.news-right__title_calc
  position: relative
  z-index: 2 
  color: $white
.news-right__text_calc 
  position: relative
  z-index: 2 
  color: $white
  +alic









