//-------------.categories--------------------------------
.categories
  padding: 40px 0 35px
  +bg($fone)
  position: relative
  display: flex
  @include media-breakpoint-down(sm)
    display: none
//---------------------------------------------

//-------------.categories__body--------------------------------
.categories__body
  margin: 30px 0 0 0
  display: flex
  flex-wrap: wrap 
  justify-content: space-between 
  // @include media-breakpoint-down(lg)
  //   overflow-x: scroll
  //   display: flex
  //   justify-content: start
  //   flex-wrap: nowrap 
  //   margin: 0 -30px

//----------------.categories__item-----------------------------
.categories__item
  // .categories-item---- cards.sass
  flex: 0 1 32.2%
  margin: 0 0 20px 0
  min-height: 200px
 
// --------------------.title--categories-----------------------------
.title--categories
  @include media-breakpoint-down(lg)
    margin: 0 0 20px
    
// --------------------------------------------------------------
.categories-item__badge--last
  padding: 23px 21px 	23px