//-------------.categories--------------------------------
.categories
  padding: 40px 0 35px
  +bg($fone)
  position: relative
  display: flex
  @media (max-width: 768px)
    display: none
//---------------------------------------------

//-------------.categories__body--------------------------------
.categories__body
  margin: 30px 0 0 0
  display: flex
  flex-wrap: wrap 
  justify-content: space-between 

//----------------.categories__item-----------------------------
.categories__item
  flex: 0 1 32.2%
  margin: 0 0 20px 0
  min-height: 200px
 
// --------------------.title--categories-----------------------------
.title--categories
  @media (max-width: 1199px)
    margin: 0 0 20px
    
// --------------------------------------------------------------
.categories-item__badge--last
  padding: 23px 21px 	23px