//-------------.filter-lap--------------------------------
.filter-lap
  +bg($fone)
  padding: 30px 0 0 0
  @include media-breakpoint-up(xl) 
    display: none
  @media (max-width: 768px)
    display: none
// ---------------------------------------------------------
.filter-lap__title 
  font-size: 32px
  line-height: 130%
.filter-lap__body
   @extend %card
   padding: 20px
   margin: 20px 0 0 0	
.filter-lap__line 
  margin: 30px 0 0 0
.filter-lap-line
  +jucb 
.filter-lap-line__column 
  flex: 0 1 45.5%
  +fdc
  margin: 0 20px 0 0
  &:last-child
    flex-grow: 1
    margin: 0 0 0 0
.filter-lap-line__title 
  margin: 0 0 10px 0
.filter-lap-line__select
  position: relative
.filter-lap-line__range
  +jucb
  border-radius: 5px
  @extend %card
.filter-lap-line__input 
  flex: 0 1 50%
  position: relative
  border-radius: 0
  &:first-child
    border-right: 1px solid $bej
  input
    +pro
    height: 50px
    padding: 0 20px	
  i
    +absolute( 18px, 18px, 50%,null, 20px,0,-50%)
    font-weight: normal
    color: $grey
.filter-lap__buttons
  +juce
  +alic
  margin: 20px 0 0 0
.filter-lap__link
  font-weight: normal
  color: $company
  margin: 0 20px 0 0 
.filter-lap__button 
  width: 223px
  height: 50px
.filter-lap-line__input_metro
  @extend %card
  border-radius: 5px
  input
    border-radius: 5px
.filter-lap-line__metro
  +absolute( auto, 18px, 50%,null, 20px,0,-50%)
  font-weight: normal
  color: $company





