.footer
  padding: 100px 0 35px 0
  +bg($fone)
.footer__top

.footer-top 
  +bg($fone)
  padding: 0 0 27px 0	
.footer-top__body
  +alic 
  +jucb
  padding: 0 80px 0 0	
.footer-top__logo 
  // flex: 0 1 10%
  width: 170px
  height: 44px
  margin: 0 6.2% 0 0
.footer-top__nav
  flex: 1 1 40%
  +jucb 
.footer-top-nav__item 
.footer-top-nav__link
  +font-family(  roboto-medium,normal,15px,18px,$grey)
  &:hover
    cursor: pointer
    color: $active
    transition: all 0.2s ease-in-out 

.footer-top__social
  flex: 0 1 12.3%
  margin: 0 0 0 8.3%
  // ----------
.social-links 
  +jucb

.social-links__link 
  transition: all 0.2s ease-in-out
  &:hover
    cursor: pointer
    transform: scale(1.1)
  // -----------------

.footer__main 
.footer-main 
  +bg(#f4f4f4)
.footer-main__body
  +pro
  +jucb
  width: 79.7%
  margin: 0 auto
.footer-main__column
  +fdc
.footer-main-column 
  padding: 36px 0 0 
.footer-main-column__title 
  +font-family(  roboto-medium,500,18px,21px,$dark-1)
  margin: 0 0 29px 0


.footer-main-column__list
  +fdc
.footer-main-column__list-item
  margin: 0 0 15px 0
  &:last-child
    margin: 0 0 0 0
.footer-main-column__link 
  +pro
  display:  flex
  +font-family(  roboto-medium,normal,15px,18px,$dark-1)



.footer__low 
  padding: 79px 0 0 0
  +bg(#f4f4f4) 
.footer-low__body
  +jucb
  +pro
  width: 79.7%
  margin: 0 auto
.footer-low__text
  flex: 0 1 42% 
  +font-family(  roboto-medium,normal,15px,18px,$dark-1)

  p
    margin: 10px 0 0 0
.up_down_btn 

.footer-low__text_rights
  flex: 0 1 37.3% 


.footer-main__column-social,.footer-low__logo,.footer-top__properties,.footer-top__social_small
  display: none



// ------------------------------------------------------
@media (max-width: 1830px)

  .footer-top__social
    padding: 0 0 0 0	
    flex: 0 1 12%
    margin: 0 0 0 2%
  .footer-top__logo
    margin: 0 1% 0 0	
  .footer-main-column__list 
    padding: 0 0 0 0	
  .footer-top__body
    padding: 0 0 0 0	
 





@media  (min-width: 768px) and  (max-width:  1650px )
  .footer
    padding: 0 0 35px
  .footer-main__body
    padding-top: 36px!important
  .footer-top__nav
    border-top: 1px solid $grey-1
    padding: 33px 0 0 0
  .footer-top__logo,.footer-top__social,.footer-low__text
    display: none
 
  .footer-main-column__title 
    margin: 0 0 18px
  .footer-top-nav__item 
    flex: 1 1 30%
    margin: 0 0 21px 0
    &:nth-child(1)
      flex: 0 1 26.3%
    &:nth-child(4)
      flex: 0 1 26.3%


  .footer-main__column
    flex: 0 1 33.333%
    padding: 0 0 0 0
    margin: 0 0 30px 0	
    &:nth-child(3n)
      flex: 0 1 21% 
  .footer-main__column-social
    display: flex
  .social-links__link_main
    margin: 0 0 15px 0	
    &:last-child
      margin: 0 0 0 0
    span
      +font-family(  roboto-medium,normal,15px,18px,$grey)
      margin: 0 0 0 15px
  .footer-low__logo
    display: flex
    width: 120px
    height: 30px
  .footer-low__text_rights
    display: flex
    flex: 0 1 57% 
    +fdc
    p
      margin: 12px 0 0 0
  .footer-main-column__link 
    font-size: 14px

  .footer__low
    padding: 10px 0 0 0
  .footer-low__body
    +alic





@media (max-width: 767px)
  .footer
    padding: 30px 0 0 0
    +bg(white)
  .footer__top
    padding: 0 0 0 0	
  .footer-top__body
    +bg(white)
    // padding: 31px 15px 0
    border: none
    	
  .footer-top__logo
    flex: 0 1 100%
    +jucs
    img
      width: 105px
      height: 27px

  .footer-main__column-social,.footer__low
    display: none
  .footer-top__social
    display: none
  
  
  
  
  
  .footer-top__social_small
    flex: 0 1 100%!important
    +jucs
    margin: 0 0 18px 0!important
  .footer-top__properties
    display: flex
    +jucb
    flex: 0 1 100%
    margin: 6px 0 20px
  .footer-top__nav
    flex: 0 1 100%
    padding: 18px 0 0
    border-top: 1px solid $grey-1
  .footer-top__property
    +font-family(  roboto-medium,normal,12px,14px,$grey)
    padding: 0 0 5px 0
    flex: 0 1 100%
    &:last-child
      padding: 0 0 0 0	
  .social-links__link
    margin: 0 15px 0 0
    &:last-child
      margin: 0 0 0 0
  .footer-top-nav__item
    flex: 0 1 100%
    margin: 0 0 12px
  .footer-top-nav__link
    font-size: 12px
    display: flex
    +pro
  .footer-main-column__title
    font-size: 14px
  .footer-main-column__link
    font-size: 12px
    display: flex
    +pro
  .footer-main-column__list-item
    margin: 0 0 11px
  .footer-main__column
    flex: 0 1 100%
    padding: 23px 0 18px
    border-bottom: 1px solid $grey-1
    &:last-child
      border-bottom: none

  .footer-main__body
    padding: 0 15px	
	
  .footer-main-column__title
    margin: 0 0 6px

  .footer__main
    +bg(transparent)
  .footer-main__column
    &:nth-child(3n)
      flex: 0 1 100%