.footer
  +absolute( 40px, 20px, 500%,  60%,  null,0,0)
.footer__wrapper
  padding: 100px 0 0 0
  +bg($fone)
.footer__body
  +pro
  
.footer__top

.footer-top 
  +bg($fone)
.footer-top__body
  +alic 
  +jucb
  width: 79.7%
  margin: 0 auto
.footer-top__logo 
  flex: 0 1 10%
  margin: 0 7% 0 0
.footer-top__nav
  flex: 1 1 40%
.footer-top-nav 
.footer-top-nav__body
  +jucb 
.footer-top-nav__item 
.footer-top-nav__link
  &:hover
    cursor: pointer
    color: $active
    transition: all 0.2s ease-in-out 
.footer-top__social
  flex: 0 1 16.8%
  padding: 0 81px 0 0
  margin: 0 0 0 8.3%
.footer-top-social 
.footer-top-social__body 
  +jucb
.footer-top-social__link 
.footer__main 
.footer-main 
  +bg(#f4f4f4)
.footer-main__body
  +pro
  +jucb
  width: 79.7%
  margin: 0 auto
.footer-main__column
   
.footer-main-column 
.footer-main-column__body
  +fdc 
.footer-main-column__title 
.footer-main-column__link 
.footer__low 
.footer-low
  +bg(#f4f4f4) 
.footer-low__body
  +jucb
  +pro
  width: 79.7%
  margin: 0 auto
.footer-low__text
  flex: 0 1 40% 
.up_down_btn 