.garden-sm
  display: none
  margin: 30px 0 
.garden-sm__body
  border-radius: 5px
  padding: 20px	
  +background-img("/assets/img/look-1.webp")
  position: relative

.garden-sm-item__mask
  +absolute( 100%, 100%, 0,  0,  null,0,0)
  +bg(rgba(0,0,0,.5))
  border-radius: 5px
.garden-sm-item__title
  font-weight: normal
  font-size: 18px
  line-height: 21px
  color: white
  z-index: 2
  position: relative
.garden-sm-item__text
  font-weight: normal
  font-size: 14px
  line-height: 16px
  color: white
  +alic
  position: relative
  z-index: 2
  padding: 5px 0 0 0	
  .icon-rouble
    font-size: 14px
    color: white
.garden-sm-item__button
  position: relative
  z-index: 2
  font-weight: normal
  font-size: 14px
  line-height: 16px
  color: white
  +alic
  padding: 21px 0 0 0
          

@media (max-width: 768px) 
  .garden-sm
    display:  flex