.look
.look__wrapper 
  padding: 50px 0
.container 
  padding: 0 0 0 0	

.look__body
  +jucs
  +alic
.look__left
  position: relative
  flex: 0 1 40.8%
  padding: 0 0 31.4% 0
  .bg
    border-radius: 10px
.look__right 
  flex: 1 1 40.8%
.look-right 
  
.look-right__body
  padding: 0 0 0 80px	
  // height: 222px 
.look-right__title
  padding: 0px 0 26px 0
  +font-family(  roboto-medium,normal,32px,100%,$dark-1) 
.look-right__text
  padding: 0 0 27px 0 
  +font-family(  roboto-medium,normal,20px,150%,$dark-1) 
.look-right__button-block 
  +alic
  span
    +font-family(  roboto-medium,500,20px,100%,$dark-1) 
  span.icon-rouble
    margin: 0 0 0 5px
.look-right__button
  margin: 0 31px 0 0
  width: 270px
  height: 50px
  +font-family(  roboto-medium,500,15px,18px,white) 