//-------------.modal-enter--forget--------------------------------
.modal-enter--forget
  @media (max-width: 1199px)
    min-height: 100vh
    position: relative
    margin: 0 0 0 0

    	
// ---------------------------------------------

//-------------.modal-enter__body--forget --------------------------------
.modal-enter__body--forget 
  @media (max-width: 1199px)
    padding: 28px 151px 125px
    margin: 0 0 275px
  @media (max-width: 767px)
    padding: 0 15px
    margin: 0 0 30px
//---------------------------------------------
//-------------.modal-enter__text--forget--------------------------------
.modal-enter__text--forget
  @media (max-width: 1199px)
    font-size: 18px
    width:100%

//-------------.modal-enter__input--forget--------------------------------
.modal-enter__input--forget
  @media (max-width: 1199px)
    margin: 24px 0 0
//-------------.modal-enter__button--forget-lp--------------------------------


//---------------------------------------------
//-------------.modal-enter__title--forget--------------------------------
.modal-enter__title--forget
  @media (max-width: 767px)
    font-size: 20px
//---------------------------------------------
//-------------.modal-enter__text--forget--------------------------------
.modal-enter__text--forget
  @media (max-width: 767px)
    font-size: 14px
    margin: 15px 0 0
//---------------------------------------------
//-------------.modal-enter-input__label--forget--------------------------------
.modal-enter-input__label--forget
  @media (max-width: 767px)
    font-size: 14px
    font-weight: 500
//---------------------------------------------
//-------------.modal-enter__button--forget-lp--------------------------------
.modal-enter__button--forget-lp
  @media (max-width: 1199px)
    width:222px
    height:50px
  @media (max-width: 767px)
    margin: 6px 0 0 0
    height:40px
    width:100%
    font-size: 14px
    font-weight: normal

//-------------.modal-enter__footer--forget--------------------------------
.modal-enter__footer--forget
  @include media-breakpoint-down(md)
    padding: 60px 0 
  @media (max-width: 767px)
    margin: 0 0 0 0
    position: relative
    padding: 32px 0 419px7
//---------------------------------------------

//-------------.modal-enter__body--safe--------------------------------
.modal-enter__body--safe
  @media (max-width: 768px)
    margin: 0 0 80px 0
 
//---------------------------------------------