
  
  
  
  
  
  
  
//   //-------------.modal-enter--main--------------------------------
.modal-enter--main
  @media (max-width: 1199px)
    box-shadow: none
    border: none
    border-radius: 0px
    width: 100%
    +bg($fone)
    +fdc
    display: flex
    padding: 0 
    margin: -30px 0 0 0	
    
  @media (max-width: 767px)
    +bg(white)
    +fdc
    padding: 0 0 0 0
    margin: 0 0 0 0

//-------------.modal-enter__body--main--------------------------------
.modal-enter__body--main
  @media (max-width: 1199px)
    +bg($fone)
    padding: 50px 150px 125px
  @media (max-width: 767px)
    +bg(white)
    padding: 0 15px
    margin:  0 0 25px

//---------------------------------------------
//-------------.modal-enter__or--main--------------------------------
.modal-enter__or--main
  position: relative
  &:after
    content: ""
    background-color: $bej
    position: absolute
    width: 100%
    height: 1px
    top: 50%
    left: 0%
    z-index: 2
    transform: translate(0,-50%)
    
  @media (max-width: 1199px)
    span
      position: relative
      z-index: 20
      padding: 0 20px
      +bg($fone)
  @media (max-width: 767px)
    margin: 14px 0 0 0
    span
      +bg(white)
//---------------------------------------------
//-------------modal-enter__input--main--------------------------------

//---------------------------------------------

//-------------.modal-enter__social--main--------------------------------
.modal-enter__social--main
  @media (max-width: 768px)
    margin: 13px 0 0 0
 
//---------------------------------------------
//-------------.modal-enter-social__item--main--------------------------------
.modal-enter-social__item--main
  @media (max-width: 1199px)
    width: 68px
    height: 50px
  @media (max-width: 767px)
    width:40px
    height:40px
    margin: 0 0 0 0
    i
      font-size: 18px

//---------------------------------------------
//-------------.modal-enter-item__forget--main--------------------------------
.modal-enter-item__forget--main
  @media (max-width: 767px)
    font-size: 14px

//---------------------------------------------
//-------------.modal-enter-item__condition--main--------------------------------
.modal-enter-item__conditions--main
  @media (max-width: 768px)
    font-size: 14px
  span 
    @media (max-width: 768px)
      font-size: 14px
//---------------------------------------------
//-------------.modal-enter__buttons--main--------------------------------
.modal-enter__buttons--main
  @media (max-width: 767px)
    margin: 7px 0 0 0
   
//---------------------------------------------
//-------------.modal-enter__button--continue_main--------------------------------
.modal-enter__button--main
  @media (max-width: 1199px)
    flex: 1 1 40%
  @media (max-width: 767px)
    flex: 0 1 100%
    margin: 0 0 13px 0
    height:40px
// //---------------------------------------------
// //-------------.modal-enter__title--main--------------------------------
.modal-enter__title--main
  @media (max-width: 1199px)
    margin: 5px 0 0 0
    padding: 0 0 10px 0
    
  @media (max-width: 767px)
    margin: 0 0 0 0
    font-size: 20px
    

//---------------------------------------------

//-------------.modal-enter-input__label--main--------------------------------
.modal-enter-input__label--main
  @media (max-width: 1199px)
    font-weight: normal
  @media (max-width: 767px)
    font-size: 14px

//---------------------------------------------
//-------------.modal-enter-input__input--main --------------------------------
.modal-enter-input__input--main 
  &::-webkit-input-placeholder
    @media (max-width: 1199px)
      font-weight: normal
      color: $grey

  @media (max-width: 767px)
    height:40px
    font-size: 14px
    margin: 5px 0 15px

//---------------------------------------------
//-------------.modal-enter-item__condition--main--------------------------------
.modal-enter-item__condition--main
  @media (max-width: 768px)
    font-size: 14px
//---------------------------------------------
//-------------.modal-enter-footer__copy--main--------------------------------
.modal-enter-footer__copy--main
  @media (max-width: 1199px)
    color: $grey
    font-weight: 400
//---------------------------------------------
//-------------.modal-enter__footer--------------------------------
//---------------------------------------------
//---------------------------------------------
//-------------.modal-enter-footer--------------------------------
.modal-enter-footer
  @media (max-width: 1199px)
    width: 100%
    +alic
    +jucc
    +fdc
    background: #F4F4F4
    margin: 0 0 0 
    padding: 60px 0 60px
  @media (max-width: 767px)
    +alic
    +jucc
    +fdc
    padding: 32px 0 30px

//---------------------------------------------
//-------------.modal-enter-footer__social--------------------------------
.modal-enter-footer__social
  +alic
  +jucb
  @media (max-width: 1199px)
    margin: 30px 0 0 0
  @media (max-width: 768px)
    margin: 26px 0 0 0
//---------------------------------------------
//-------------.modal-enter-footer__item--------------------------------
.modal-enter-footer__item
  @media (max-width: 1199px)
    margin: 0 26px 0 0
    width: 24px
    height: 24px
    &:last-child
      margin: 0 0 0 0
  @media (max-width: 767px)
    margin: 0 26px 0 0
    &:last-child
      margin: 0 0 0 0
    width: 20px
    height: 20px
//---------------------------------------------
//-------------.modal-enter-footer__link--------------------------------
.modal-enter-footer__link
  @media (max-width: 1199px)
    margin: 28px 0 0 0
    color: $company
  @media (max-width: 767px)
    margin: 28px 0 0 0
//-------------.modal-enter-footer__link-social--------------------------------
.modal-enter-footer__link-social
  +pro
  display:  flex
  i
    font-size: 22px
    +pro
  img
    +pro
  @media (max-width: 1199px)
    color: $grey
//---------------------------------------------
//-------------.modal-enter-footer__copy--------------------------------
.modal-enter-footer__copy
  @media (max-width: 1199px)
    font-size: 15px
  @media (max-width: 767px)
    color: $grey

//---------------------------------------------
//-------------.modal-enter-footer__link--------------------------------
.modal-enter-footer__link
  @media (max-width: 1199px)
    font-weight: 400
 