.news
  @extend %s-wrapper
  padding: 50px 0 0 0
    
.news__body
  @extend %s-body 
  +jucb
  flex-wrap: nowrap
  margin: 24px 0 0 0

.news__left 
  flex: 1 1 40%
.news-left 
  +jucb
.news-left__card 
  flex: 0 1 48.8%
  margin: 0 0 20px 0	



.news__right 
  flex: 0 1 24%
  margin: 0 0 20px 20px

.news-right 
  @extend %card
  border-radius: 10px
  &__img 
    width: 100%
  &__title 
    +font-family(roboto-medium,normal,24px,130%,$dark-1)
    padding: 29px 31px 19px
  &__text
    +font-family(roboto-medium,normal,18px,100%,$dark-1) 
    padding: 0 31px 0 
    text-align: left
  &__button 
    width: 250px
    height: 43px
    margin: 30px auto



@media (max-width: 1360px)  
  .news-right__text
    padding: 0 20px 0
  .news-right__title 
    padding: 29px 20px 19px



@include media-breakpoint-down(lg) 
  .news
    padding: 31px 0 0 0
  .news__body
    margin: 15px 0 0 0
  .news-left__card
    // min-height: 200px!important
    // max-height: 200px!important
    &:first-child
      flex: 0 1 100%
    &:not(:first-child)
      .news-left-card__text_not-first
        padding: 23px 0 0 20px
    &:nth-child(4)
      display: none

  .news__right
    display: none
  .news-left-card__text 
    padding: 51px 0 0 20px
  .news-left-card__title 
    padding: 10px 20px 8px
  .news-left-card__notes 
    padding: 9px 0 26px 20px