
.opinion
  .sale-filter__item
    width: 184px
    padding: 0 0 0 0

.opinion__cards 
  margin: 30px 0 0 0
.opinion-cards 
.opinion-cards__body
  +jucb
.opinion-cards__card
  flex: 0 1 49.2%
  
.opinion-cards-card 
.opinion-cards-card__body
  background: #FFFFFF
  border: 1px solid #ECECEC
  border-radius: 5px
  min-height: 222px
  padding: 20px	
  +alic 
.opinion-cards-card__img 
  position: relative
  flex: 0 1 28%
  padding: 0 0 182px 0	
.opinion-cards-card__right
  flex: 1 1 49%
  padding: 0 0 0 34px	
  height: 182px

.opinion-cards-card__title 
  +font-family(  roboto-medium,normal,15px,150%,$dark-1)
.opinion-cards-card__text
  +font-family(  roboto-medium,normal,15px,150%,$grey) 
  padding: 9px 60px 7px 0
.opinion-cards-card__content 
  +font-family(  roboto-medium,500,20px,150%,$dark-1) 
.opinion-cards-card__notes
  +jucs
  padding: 17px 0 0 0 
  span
    +font-family(  roboto-medium,normal,15px,150%,$grey)
  i
    font-size: 20px
    color: $grey
    margin: 0 8px 0 26px