
.sale__select--revieves
  display: none 
@media (max-width: 1360px)
  .sale-scroll__item
    min-height: 380px
  
  
@include media-breakpoint-down(lg) 
  .sale-scroll
    +absolute( 100%, 380px,140px,0,null,0,0)
    display: flex
    overflow: scroll
    justify-content: start
    // flex-wrap: nowrap
    margin: 20px 0  0px 31px
  .sale-scroll__item
    min-width: 307px
    min-height: 284px
    margin: 0 20px 0 0
    position: relative
    &:last-child
      margin: 0 0 0 0
  .sale__filter--revieves
    margin: 24px 0 410px 0


@media (max-width:  767px )
  
  .sale-scroll
    margin: 20px 0  0px 10px
    height: 284px
    &__item
      min-width: 250px
      min-height: 285px!important
  .card-revieves__text
    display: none
  .card-revieves-stars__star
    width: 15px
    height: 15px
    font-size: 15px
  .card-revieves__title
    +font-family(roboto-medium,500,16px,140%,$dark-1)
  .card-revieves__rev
    +font-family(roboto-medium,normal,14px,150%,$dark-1)
  .card-revieves__text--person
    display:  flex 
    +font-family(roboto-medium,normal,14px,16px,$dark-1)

  .sale__select--revieves
    display:  flex
    margin: 24px 0 297px
    width: 100%
  .sale-filter.sale__filter--revieves
    display: none