

.slider-revieves-item
  .slider-item__body
    min-height: 309px
    padding: 10px 25px 0px 20px
  .rev__stars
    +jucs
  .slider-item__text
    +font-family(  roboto-medium,normal,15px,18px,$grey)
    margin: 0 0 0 0
    padding: 10px 0 0 0
  .rev__stars
    padding: 11px 0 0 0
    .icon-star-full
      font-size: 18px
      color: #FBB143
      margin: 0 7px 0 0
  .slider-item__title
    +font-family(  roboto-medium,500,18px,140%,$dark-1)
    padding: 21px 0 0 0	
  .slider-item__rev
    +font-family(  roboto-medium,normal,15px,150%,$dark-1)
    padding: 10px 0 0 0
  .slider-item__notes
    position: absolute
    bottom: 25px
    margin: 0 0 0 0
  .slider-avatar
    width: 30px
    height: 30px
    margin: 0 10px 0 0
  .notes__text
    +font-family(  roboto-medium,normal,15px,18px,$dark-1)