
.sale
  +bg($fone)
  padding: 54px 0 0 0
  
.sale__body
  +jucs


.sale__filter
  margin: 30px 0 0 0


.sale__slider
  margin: 30px -10px  0px

.sale__cards
  display: flex
  justify-content: space-between
  margin: 30px 0 0 0
.sale__card
  flex: 0 1 49.2%


.sale__scroll,.sale-filter__item_lg
  display: none

.sale-scroll__item
  min-height: 284px


.sale__select
    display: none

@include media-breakpoint-down(lg)
  .sale
    padding: 33px 0 0
    position: relative
  .sale__slider
    display: none

  .sale__filter
    width: 100%
    margin: 20px 0 345px
  .sale-filter__item
    flex-grow: 1
    padding: 0 0 0 0
    
  .sale-filter__item_lg
    display: flex
  .sale-filter__item_xl
    display: none

  .sale-scroll
    +absolute( 100%,345px,115px,0,null,0,0)
    display: flex
    overflow: scroll
    justify-content: start
    flex-wrap: nowrap 
    margin: 20px 0  0px 0px
    // box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1 )
    align-items: center
  .sale-scroll__item
    min-width: 307px
    min-height: 284px
    margin: 0 20px 0 0

@include media-breakpoint-down(sm)
  .sale
    +bg(white)
    padding: 0
  .sale__filter
    display: none

  .sale__select
    display:  flex
    margin: 15px 0 310px
    	
    width: 100%

  .sale
    .new-select
      height: 40px
  .sale-scroll
    margin: 0 0  0px 0px
    height: 310px
    top: 80px
    align-items: center
    &__item
      min-width: 220px
      min-height: 255px
      margin: 0 20px 0 0
      &:last-child
        margin: 0 0 0 0







