
.sale
  +bg($fone)
  padding: 54px 0 0 0  
  position: relative
  
.sale__body
  +jucs


.sale__filter
  margin: 30px 0 0 0


.sale__slider
  margin: 30px -10px  0px

.sale__cards
  display: flex
  justify-content: space-between
  margin: 30px 0 0 0
.sale__card
  flex: 0 1 49.2%


.sale__select
  display: none

// один слайд .card-object
.slider__item
  min-width: 307px
  min-height: 284px
  padding: 0 0 20px 0	
  margin: 0 10px
.sale-filter__item_lg
  display: none



@media (min-width:  1200px) and (max-width:  1350px )
  .slider__item
    min-width: 280px


@include media-breakpoint-down(lg)

  .sale
    margin: 0 0 346px 0
  .sale__slider
    margin: 0 0 0 0
  .sale
    padding: 33px 0 0
    position: relative
  .sale__filter
    width: 100%
    margin: 20px 0 0px
  .sale-filter__item
    flex-grow: 1
    padding: 0 0 0 0
  .sale__scroll
    +absolute( 100vw,345px,0,-30px,null,0,0)
  .sale-scroll
    display: flex
    overflow: scroll
    justify-content: start
    flex-wrap: nowrap 
    align-items: center
    +bg($fone)

  .sale-scroll__item
    min-width: 308px
    min-height: 284px
    margin: 0 20px 0 0
  .sale-filter__item_lg
    display: flex
  .sale-filter__item_xl
    display: none

@include media-breakpoint-down(sm)
  .sale
    +bg(white)
    padding: 0
  .sale__filter
    display: none

  .sale__select
    display:  flex
    margin: 15px 0 0
    	
    width: 100%

  .sale
    .new-select
      height: 40px
      &::after
        right: 27px
  .sale__scroll
    // +absolute( 100vw,345px,0,-30px,null,0,0)
    height: 310px
    top: 0px
    left: -10px
    margin: 0 0  0px 0px
  .sale-scroll
    align-items: center
    +bg(white)
    &__item
      min-width: 220px
      min-height: 255px
      margin: 0 20px 0 0
      &:last-child
        margin: 0 0 0 0







