







.sale__wrapper 
  +bg($fone)
  padding: 54px 0 0 0
.container 
  padding: 0 0 0 0	
  
.sale__body
  +jucs
  h2
    width: 100%
.sale__filter 
  padding: 31px 0 0 0
  display: inline-flex
.sale-filter 
.sale-filter__body 
  +jucs
  background: #FFFFFF
  border: 1px solid #ECECEC
  border-radius: 5px
.sale-filter__item 
  padding: 0 29px 
  border-right: 1px solid #ECECEC
  height: 50px
  transition: all 0.2s ease-in-out
  &:hover
    +bg(#DEF1D7) 
    cursor: pointer 
    .sale-filter__title
      color: $dark-1
      

  &:last-child
    border-right: none
  +center
.sale-filter__title 
  +font-family(  roboto-medium,normal,15px,100%,$grey)
  transition: all 0.2s ease-in-out

.sale__slider
  position: relative
  margin: 30px 0 0 0
.sale-slider
  &__body
    margin: 0 -10px








