.news-left__card_stock
  flex: 0 1 100%
  &:last-child
    margin: 0 0 0 0



.news__button--stock
  width: 330px
  height: 50px
  margin: 20px 0 0 0

.news-right_stock
  +background-img("/assets/img/stock/stock.webp")
  +bg($active)
  margin: 0 0 0 20px
  min-height: 460px
.news-right__title_stock
  +font-family(  roboto-medium,500,30px,35px,$white)
.news-right__text_stock
  color: $white
.news__button--stock_high,.news-right_stock_lg,.task-card__property-text--stock
  display: none







@include media-breakpoint-down(lg)
  .task-card__property-text--stock
    display: flex
  .news-left__card_stock
    margin: 0 0 70px
  .news-left__card_stock:not(:first-child)
    display: none 
  .news-right_stock
    min-height: 404px
    flex: 0 1 31.5%
  .news__left_stock
    position: relative
 
  .task-card__property--active
    display: none

  .news__button--stock_low
    display: none
  .news__button--stock_high
    display: flex
    +absolute( 240px, 50px, null,  0,  null,0,0)
    bottom: 0
  .task-card__properties
    padding: 0
    margin: 22px 0 0

  .task-card__title
    +font-family(  roboto-medium,500,20px,150%,$dark-1)
    padding: 5px 0 8px
  .task-card__text
    +font-family(roboto-medium,500,15px,150%,$dark-1)
  .task-card__notes
    +font-family(roboto-medium,normal,15px,150%,$dark-1)
  .task-card__property-text--green
    padding: 0 0 0 0	
    color: $active!important
    font-weight: normal
  .news-right_stock
    background-image: none
    display: none
  .news-right_stock_lg
    display: block
    width: 30%!important
    background: #FFFFFF
    border: 1px solid #ECECEC
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
  .news-right__img
    height: 232px
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    +background-img("/assets/img/news/news-5.webp")
  .news-right__title
    +font-family(roboto-medium,500,18px,150%,$dark-1)
    padding: 19px 17px 19px
  .news-right__text
    +font-family(  roboto-medium,normal,15px,100%,$dark-1)
    padding: 0 17px	
    span
      font-size: 15px
  .news-right__reference
    +alic
    padding: 19px 0 0 18px
    span
      +font-family(  roboto-medium,normal,15px,150%,$company)
    i
      color: $company
      font-size: 20px
      margin: 0 0 0 14px
  
@media (max-width: 767px)
  .news--stock
    +bg(white) 
    margin: 30px 0 0 0
  .title--stock
    +font-family(  roboto-medium,500,15px,18px,$dark-1)
  .task-card__title--stock
    +font-family(  roboto-medium,500,18px,150%,$dark-1)
  .task-card__text--stock
    +font-family(  roboto-medium,500,15px,150%,$dark-1)
  .news-right_stock
    display: none
  .task-card__property-text--stock
    display: none
  .task-card__property--active
    display:  flex
  .task-card__notes--stock
    +font-family(  roboto-medium,normal,14px,140%,$dark-1)
  .task-card__property-text
    +font-family(  roboto-medium,normal,12px,14px,$grey)
  .task-card__property-icon--stock 
    font-size: 14px
  .task-card__property-text--green 
    color: $active!important
    font-weight: normal
  .task-card__property-text--stock
    display: none
  .news__button--stock_low
    width: 100%
    height: 40px
  .news-left__card_stock
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05)
  .news__button--stock_high
    width: 100%!important
    height: 40px