.news-left__card_stock
  flex: 0 1 100%
  &:last-child
    margin: 0 0 0 0



.news__button_stock
  width: 330px
  height: 50px
  margin: 20px 0 0 0

.news-right_stock
  +background-img("/assets/img/stock/stock.webp")
  +bg($active)
  margin: 0 0 0 20px
  min-height: 460px
.news-right__title_stock
  +font-family(  roboto-medium,500,30px,35px,$white)
.news-right__text_stock
  color: $white
.news__button_stock_high,.news-right_stock_lg
  display: none







@include media-breakpoint-down(lg)
  
  .news-left__card_stock
    margin: 0 0 70px
  .news-left__card_stock:not(:first-child)
    display: none 
  .news-right_stock
    min-height: 404px
  .news__left_stock
    position: relative

  .news-right_stock
    flex: 0 1 31.5%
  .task-card__property--acctive
    display: none

  .news__button_stock_low
    display: none
  .news__button_stock_high
    display: flex
    +absolute( 240px, 50px, null,  0,  null,0,0)
    bottom: 0
  .task-card__properties
    padding: 0
    margin: 22px 0 0
  .task-card__title
    +font-family(  roboto-medium,500,20px,150%,$dark-1)
    padding: 5px 0 8px
  .task-card__text
    +font-family(roboto-medium,500,15px,150%,$dark-1)
  .task-card__notes
    +font-family(roboto-medium,normal,15px,150%,$dark-1)
  .task-card__property-text--green
    padding: 0 0 0 0	
  .news-right_stock
    background-image: none
    display: none
  .news-right_stock_lg
    display: block
    width: 30%!important
    +bg(white)
  .news-right__img
    height: 232px
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    +background-img("/assets/img/news/news-5.webp")
  .news-right__title
    +font-family(roboto-medium,500,18px,150%,$dark-1)
    padding: 19px 17px 19px
  .news-right__text
    +font-family(  roboto-medium,normal,15px,100%,$dark-1)
    padding: 0 17px	
    span
      font-size: 15px
  .news-right__reference
    +alic
    padding: 19px 0 0 18px
    span
      +font-family(  roboto-medium,normal,15px,150%,$company)
    i
      color: $company
      font-size: 20px
      margin: 0 0 0 14px
  