.header__top.header-top
    .header-top__body.container
      a(href="#!").header-top__location.top-location
        span.icon-location2.top-location__icon
          //- span.path1
          //- span.path2
        .top-location__text  Новосибирск
      .header-top__properties.top-properties
        .top-properties__property.top-properties__property--usd  
            span.top-properties__property-type USD   
            span.top-properties__property-number 73.31 руб. 
            span.top-properties__property-difference  (-0,36)
        .top-properties__property.top-properties__property--euro 
            span.top-properties__property-type  EUR   
            span.top-properties__property-number  88.94 руб. 
            span.top-properties__property-difference (-0,26)
      button.btn.btn--success.fancybox(type='button' href="#modal-enter").header-top__button Вход и регистрация








