.header__sidebar.header-main
  .container.container--sale
    .header-main__body
      a.header-main__logo(href="#!")
        img(src="assets/img/header/logo-1.svg",alt="img")
      button.btn.btn--success.btn--success-icon.header-main__button(type='button') 
        span.icon-plus
        span Разместить объявление
      .header-main__like.icon-heart
      .header-main__close.icon-x
    
    .header-main__section.header-main__section_top
      .header-main__bot.header-main__bot_md.top-location
        span.icon-home.top-location__icon.top-location__icon--sidebar.top-location__icon--sidebar_dark
        a(href="#!").top-location__text.top-location__text--sidebar  Войти в кабинет
      a(href="#!").header-main__bot.top-location
        span.icon-location2.top-location__icon.top-location__icon--sidebar.top-location__icon--sidebar_red
        .top-location__text.top-location__text--sidebar  Новосибирск
    
    .header-main__section
      a(href="#!").header-main__line.header-main__line_sm.top-location
        span.icon-home.top-location__icon.top-location__icon--sidebar.top-location__icon--sidebar_dark
        .top-location__text.top-location__text--sidebar  Войти в кабинет
      a(href="#!").header-main__line.header-main__line_md.top-location
        span.icon-search.top-location__icon.top-location__icon--sidebar.top-location__icon--sidebar_dark
        .top-location__text.top-location__text--sidebar  Поиск
      
      
      a(href="#!").header-main__line.top-location
        span.icon-plus-circle.top-location__icon.top-location__icon--sidebar.top-location__icon--sidebar_dark
        .top-location__text.top-location__text--sidebar  Разместить объявление
      a(href="#!").header-main__line.top-location
        span.icon-heart1.top-location__icon.top-location__icon--sidebar.top-location__icon--sidebar_green
        .top-location__text.top-location__text--sidebar  Избранное
    
    .header-main__section
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Недвижимость
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Финансы
    
    .header-main__section
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Ипотека
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Потребительские кредиты
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Кредитные карты
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Дебетовые карты
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Вклады
    
    .header-main__section
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Рейтинг компаний
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Биржа услуг
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Новости
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Блоги
      a(href="#!").header-main__line.top-location
        .top-location__text.top-location__text--sidebar  Мнение эксперта

   

